@import '../../styles/variables.module';

.land-wrapp {
  position: relative;

  .articles {
    display: flex;

    .slider {
      padding-top: 15%;
      max-width: 44%;
    }


  }

  .swiper-cont {
    position: absolute;
    right: 0;
    top: 0;
    width: 54%;

    .swiper {
      max-height: 550px;
    }

    .strp {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      pointer-events: none;
    }

    .strp img, .strp {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-slide {
      height: auto;
    }
  }

}

#services {
  .list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 107px 0 36px 0;

    + button {
      margin-left: auto;
      display: block;
    }
  }

  .list + button {
    max-width: 255px;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    background-color: $primary-bright;
  }

}

#contacts {
  position: relative;
  margin-top: 80px;
  padding-bottom: 175px;

  .bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 54%;
    background: no-repeat center/cover url('/img/foot.png');
    z-index: -1;
  }

  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &::after {
      max-width: 255px;
      width: 100%;
      height: 1px;
      background-color: $primary-bright;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    h3 {
      font-size: 30px;
      color: $primary-dark;
      margin: 0;
    }

    h4 {
      color: white;
      font-style: italic;
      font-weight: 900;
      font-size: 50px;
      margin: 0;
    }

    p {
      margin: 0;
      font-weight: 900;
      font-size: 80px;
      color: rgba(255, 255, 255, 0);
      background: linear-gradient(
                      90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
      -moz-background-clip: text;
      -webkit-background-clip: text;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-color: rgba(255, 255, 255, 0.11);
      position: absolute;
      left: 57vw;
      white-space: nowrap;
      font-style: italic;
    }
  }

  .content {
    max-width: 790px;
    width: 100%;
    color: white;
    text-align: right;
    margin-left: auto;
    padding-right: 20px;
    border-right: 1px solid white;

    p {
      margin: 36px 0;
    }
  }

  @media screen and (max-width: 1380px) {
    .bg {
      background-size: auto;
      padding-top: 90%;
    }
  }
}

.top {
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: $sm;
  border: 3px solid white;
  background-color: $primary-color;
  bottom: 20%;
  right: 5px;
  z-index: 20;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;

  img {
    margin-bottom: 5px;
  }
}

.card * {
  transition: all 0.5s;
}

.card:hover {
  #globe, #welp {
    transform: rotateX(45deg);
    transform-origin: center;
  }

  #pen {
    transform: translateY(15px);
  }

  #lines {
    transform: scale(1.1) translateX(-5px);
  }

  #cloud {
    transform: scale(1.2) translate(-10px, -10px);
  }

  #server {
    transform: scale(1.1) translate(-5px, 5px);
  }

}

