html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background: #ffffd2;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 980px;
  width: 100%;
}

.menu {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  height: 50px;
  width: 150px;
  background: linear-gradient(darkred, red);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  color: white;
  border-radius: 40px;
  border: 2px solid #320000;
  box-shadow: 0 0 20px 5px rgba(50, 0, 0, 0.5);
}

@media screen and (max-width: 575px) {
  .button {
      margin: 5px;
  }
}

.button:hover {
  box-shadow: 0 0 20px 5px rgba(50, 0, 0, 0.8);
  background: linear-gradient(rgba(139, 0, 0, 0.88), rgba(255, 0, 0, 0.88));
}