@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal
}

* {
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #58595b;
}

body, html {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

a:hover {
    color: #f16522;
}

header, .header-wrapper {
    max-width: 100%;
}

header .header-wrapper {
    min-height: 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 29px;
}

header .header-wrapper > div {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 54px;
    text-align: end;
}

header .header-wrapper > div > div {
    margin-top: 17px;
    margin-bottom: 10px;
}

header .logo {
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

header a {
    text-decoration: none;
}

header .lang {
    font-size: 14px;
}

header .lang:first-child {
    margin-right: 8px;
}

header .phone {
    font-size: 28px;
    color: #f16522;
}

.phone {
    white-space: nowrap;
}

header nav {
    background-color: #f16522;
    min-height: 40px;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

header nav a {
    color: #fff;
    margin: 11px 24px;
    display: block;
}

header nav a:hover {
    opacity: 0.8;
    color: #fff;
}

article {
    width: 100%;
}

article section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

article h2.heading {
    color: #fff;
    background-color: #f16522;
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 18px 0;
    font-weight: 600;
}

.land-slider .swiper-slide {
    position: relative;
    max-height: 0;
    padding-top: 44.4%;
}

.land-slider .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    height: 100%;
    width: 100%;
}

.swiper-button-prev {
    background-image: url('/img/left.png');
}

.swiper-button-next {
    background-image: url('/img/right.png');
}

.swiper-button-next, .swiper-button-prev {
    width: 17px;
    height: 28px;
    background-size: contain;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 2px solid #231f20;
    background: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #231f20;
}

.btns-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 30px;
}

.btns-wrap .btn:first-child {
    margin-right: 24px;
}
.btn img{
    width: 165px;
}
article section.dbg {
    max-width: 100%;
}

.dbg {
    background-color: #e3e4e5;
}

article h3 {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    padding: 24px 0;
    text-align: center;
}

.advantages, .steps, .inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.advantages figcaption {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.advantages figure {
    margin: 25px 37px;
}

.advantages figure:nth-child(3) img {
    margin-right: 10px;
}

figure img {
    margin: 0 auto;
}

.start h3 {
    padding: 39px 0 34px;
}

.steps {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 77px;
}

.steps img {
    margin: 0 2.4%;
}

.steps span {
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

.orange {
    color: #f16522;
}

section.aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 61px;
}


section.aside aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 5% 0 10.4%;
    position: relative;
}

.s-slider h3 {
    padding: 12px 0 13px 9.3%;
    text-align: left;
}

.s-slider {
    width: calc(85.4% - 220px);
    position: relative;
}

.phone-bg {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 220px;
    max-height: 403px;
    width: 100%;
    height: 100%;
    background-image: url('/img/phone-bg.png');
}

.app-slider {
    max-width: 180px;
    width: 100%;
    max-height: 312px;
    height: 100%;
    margin-top: 19px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.app-slider .swiper-slide img {
    width: 100%;
    height: 100%;
}

.step-num {
    font-size: 52px;
    color: #f16522;
    text-align: center;
    font-weight: 300;
    margin-top: 37px;
    margin-bottom: 0;
}

.steps-slider {
    border-top: 2px solid #757779;
    border-bottom: 2px solid #757779;
    max-width: 555px;
    margin: 0 auto 155px 0;
}

.steps-slider p {
    font-size: 24px;
    text-align: center;
    min-height: 100px;
    margin-top: 13px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.s-slider .swiper-pagination {
    bottom: 95px;
    max-width: 555px;
    width: 100%;
}

.s-slider .swiper-pagination-bullet {
    border-radius: 0;
    border: none;
    background: transparent;
    font-size: 33px;
    font-weight: 300;
    margin-right: 59px;
    position: relative;
    width: auto;
    height: auto;
}

.s-slider .swiper-pagination-bullet::after {
    content: '';
    display: block;
    width: 38px;
    height: 18px;
    background-image: url('/img/arrow.png');
    position: absolute;
    right: -47px;
    top: 11px;
}

.s-slider .swiper-pagination-bullet:last-child::after {
    display: none;
}

.s-slider .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.s-slider .swiper-pagination-bullet-active {
    color: #f16522;
}

.prices {
    padding: 69px 30px 40px 30px;
}

.prices figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 140px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.prices figcaption {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.text-center {
    text-align: center;
}

#price .text-center p {
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 22px;
    line-height: 31px;
}

.download {
    padding: 28px 0;
}

.download > div:first-child {
    font-size: 36px;
    font-weight: 300;
    margin-left: 15.5%;
    margin-top: 1px;
}

.download .btns-wrap {
    margin: 3px auto 0 7.5%;
}

#price .helm figure {
    margin: 53px 0 92px 0;
}

#price .helm figcaption {
    font-size: 28px;
    font-weight: 300;
    margin-top: 55px;
}

#faq {
    max-width: 888px;
}

.accord {
    margin-top: 92px;
}

.accord .accord-head {
    font-size: 24px;
    padding-right: 50px;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.accord .accord-cont {
    font-size: 24px;
    font-weight: 300;
    max-height: 0;
    overflow: hidden;
}

.accord .accord-head::before, .accord .accord-head::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: -7px;
    background-color: #757779;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.accord .accord-head::before {
    width: 42px;
    height: 2px;
    top: 14px;
}

.accord .accord-head::after {
    height: 42px;
    width: 2px;
    right: 21px;
}

.accord .accord-item {
    margin: 50px 0;
}

.accord .accord-item.active .accord-head::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -6px;
}

.footer a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    display: block;
    margin: 75px 0;
}

.footer {
    margin-top: 169px;
}

.menu-btn {
    display: none;
}

@media screen and (max-width: 1000px) {
    header .logo {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        margin-left: 30px;
    }


}

@media screen and (max-width: 768px) {
    header .header-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu-btn {
        font-size: 18px;
        color: #ffffff;
        padding-left: 50px;
        display: block;
        line-height: 40px;
        height: 40px;
        cursor: pointer;
    }

    .menu-btn span {
        position: absolute;
        left: 12px;
        width: 30px;
        height: 40px;
        z-index: 2;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cline id='svg_1' y2='12' y1='12' x2='22' x1='2' stroke-width='2' stroke-miterlimit='10' stroke='%23ffffff' fill='none'/%3E%3Cline id='svg_2' y2='6' y1='6' x2='22' x1='2' stroke-width='2' stroke-miterlimit='10' stroke='%23ffffff' fill='none'/%3E%3Cline id='svg_3' y2='18' y1='18' x2='22' x1='2' stroke-width='2' stroke-miterlimit='10' stroke='%23ffffff' fill='none'/%3E%3C/g%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 28px 21px;
    }

    .menu-btn span.close {
        background-size: 16px 16px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23ffffff' id='Shape' d='m14,1.4l-1.4,-1.4l-5.6,5.6l-5.6,-5.6l-1.4,1.4l5.6,5.6l-5.6,5.6l1.4,1.4l5.6,-5.6l5.6,5.6l1.4,-1.4l-5.6,-5.6l5.6,-5.6z'/%3E%3C/g%3E%3C/svg%3E");
    }

    header nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        max-height: 0;
        overflow: hidden;
    }

    section.aside {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    section.aside aside {
        height: 404px;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .phone-bg {
        margin-left: calc(50% - 110px);
    }

    .s-slider {
        width: 100%;
    }

    .s-slider h3 {
        text-align: center;
        padding-left: 0;
    }

    .steps-slider {
        max-width: 100%;
    }

    .s-slider .swiper-pagination {
        max-width: 100%;
    }

    .download > div:first-child {
        margin: 0 30px;
        text-align: center;
    }

    .download .btns-wrap {
        width: 100%;
        margin: 0 30px;
    }

    article h2.heading {
        font-size: 24px;
    }

    article h3 {
        font-size: 28px;
    }

    .steps {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .s-slider .swiper-pagination-bullet {
        font-size: 24px;
        margin-right: 34px;
    }

    .s-slider .swiper-pagination-bullet::after {
        width: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        right: -30px;
        top: 9px;
    }

    .footer a {
        font-size: 21px;
    }

    .steps img {
        margin: 30px 0;
    }
}