:root {
    --trans: all 1s ease-in-out;
}

@font-face {
    font-family: 'TT';
    src: url("../fonts/TTNorms-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT';
    src: url("../fonts/TTNorms-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT';
    src: url("../fonts/TTNorms-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body, html {
    color: #242939;
    padding: 0;
    margin: 0;
    font-family: 'TT', sans-serif;
    font-weight: 300;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

img {
    display: block;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

header {
    min-height: 850px;
    background: url('../img/fon.gif') no-repeat center;
    position: relative;
    padding: 0 12.5%;
    color: #fff;
    background-size: cover;
}

header .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(36, 41, 57, 0.6);
    position: absolute;
    left: 0;
    top: 0;
}

.header-wrapper {
    position: relative;
    z-index: 2;
    padding: 29px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

.mobile {
    display: none;
}

header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 4vw;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

header li {
    margin-right: 2.1vw;
}

header li:last-child {
    margin-right: 0;
}

header nav .phone {
    margin-left: 4vw;
    font-size: 25px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    white-space: nowrap;
}

nav a:hover {
    color: #FFBB00;
}

.btn {
    color: #242939;
    padding: 13px 16px 16px;
    width: 324px;
    background: #FFBB00;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    display: block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #EEDE20;
}

.header-wrapper .btn {
    font-size: 15px;
    width: 170px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 30px;
}

.header-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0.1;
    background: #FFFFFF;
    bottom: 0;
}

.header-content {
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 10px;
}

header h1 + p {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.header-content .btn {
    font-weight: normal;
    font-size: 22px;
    color: #0E142E;
}

.block.bg {
    background-color: #F7F8FF;
}

.block-inner {
    padding: 0 12.5vw;
}

main > .block:first-child .block-inner {
    margin-top: -180px;
    position: relative;
}

.advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
}

.advantages .item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    width: 23.7%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 500px;
    padding: 3.5%;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 235px;
    cursor: pointer;
}

.advantages .item .figure {
    width: 100%;
    position: absolute;
    top: -92px;
    left: 0;
}

.advantages .item, .advantages .item * {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s linear;
}

.advantages .item:hover {
    height: 540px;
    padding-top: 255px;
}

.advantages .item:hover h3.title {
    margin-bottom: 10px;
    color: #FFBB00;
}

.item .desc {
    height: 0;
    opacity: 0;
}

.item:hover .desc {
    opacity: 1;
}

.advantages .item:hover .figure {
    top: -72px;
}

.advantages .figure img, .advantages .figure svg {
    max-width: 100%;
    margin: 0 auto;
}

svg {
    overflow: visible;
}

.item:nth-child(4):hover #fig4_top,
.item:nth-child(3):hover #fig3_top,
.item:nth-child(2):hover #fig2_top,
.item:nth-child(1):hover #fig1_top {
    -webkit-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    transform: translate(0, -40px);
}

.item:nth-child(4):hover #fig4_middle,
.item:nth-child(3):hover #fig3_middle,
.item:nth-child(2):hover #fig2_middle,
.item:nth-child(1):hover #fig1_middle {
    -webkit-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
}

.item:nth-child(4):hover #fig4_middle path:first-child,
.item:nth-child(3):hover #fig3_middle path:first-child,
.item:nth-child(2):hover #fig2_middle path:first-child,
.item:nth-child(1):hover #fig1_middle path:first-child {
    fill: #FFBB00;
}

.item:nth-child(4):hover #fig4_middle path:last-child,
.item:nth-child(3):hover #fig3_middle path:last-child,
.item:nth-child(2):hover #fig2_middle path:last-child,
.item:nth-child(1):hover #fig1_middle path:last-child {
    fill: #EEDE20;
}


.advantages .item h3 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.advantages .item p {
    margin: 0 0 10px;
    font-size: 18px;
}

.advantages .item a.more {
    margin-top: auto;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFBB00;
}

.advantages + h4 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.advantages + h4 + p {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.video-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
    position: relative;
    padding-bottom: 93px;
}

.play-btn {
    cursor: pointer;
    height: 80px;
    overflow: hidden;
}

.video-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(0, 50%) scaleY(0.01);
    -ms-transform: translate(0, 50%) scaleY(0.01);
    transform: translate(0, 50%) scaleY(0.01);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
}

.video-wrapper.active {
    -webkit-transform: translate(0, 50%) scaleY(1);
    -ms-transform: translate(0, 50%) scaleY(1);
    transform: translate(0, 50%) scaleY(1);
}

.video-wrapper .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #242939;
    z-index: 3;
}

.video-wrapper.active .overlay {
    opacity: 0;
    z-index: 0;
}

h3 {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.block-inner.pad {
    padding-top: 100px;
}

h3 + h4 {
    margin-top: 10px;
    font-weight: 300;
    text-transform: initial;
}

h3 + h4 + p {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
}

.partners {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.partners .item {
    width: 125px;
    padding-bottom: 81px;
    position: relative;
}

i.layer {
    background: url("../img/layer.svg") no-repeat center;
    background-size: contain;
    width: 125px;
    height: 74px;
    display: block;
}

.partners i.layer {
    margin: 20px 0;
}

.partners .item .title {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

.partners .item::after {
    content: '';
    height: 29px;
    width: 3px;
    position: absolute;
    left: 50%;
    bottom: 11px;
    background-color: #FFBB00;
}

.partners .item:first-child::after {
    width: 30vw;
    height: 40px;
    bottom: 0;
    background: transparent;
    border-bottom-left-radius: 27px;
    border-left: 3px solid #FFBB00;
    border-bottom: 3px solid #FFBB00;
}

.partners .item:last-child::after {
    width: 30vw;
    height: 40px;
    bottom: 0;
    right: 50%;
    left: auto;
    background: transparent;
    border-bottom-right-radius: 27px;
    border-right: 3px solid #FFBB00;
    border-bottom: 3px solid #FFBB00;
}

.animate-bg {
    position: relative;
    padding-top: 140px;
    background-color: #F6F8FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.animate-bg::before {
    position: absolute;
    height: 134px;
    display: block;
    content: '';
    top: -3px;
    right: calc(50% - 1.5px);
    width: 30vw;
    border-top-right-radius: 27px;
    border-right: 3px solid #FFBB00;
    border-top: 3px solid #FFBB00;
}

.animate-bg::after {
    position: absolute;
    height: 134px;
    display: block;
    content: '';
    top: -3px;
    right: auto;
    left: calc(50% - 1.5px);
    width: 30vw;
    border-top-left-radius: 27px;
    border-left: 3px solid #FFBB00;
    border-top: 3px solid #FFBB00;
}

.animate-bg .background {
    max-width: 473px;
    width: 100%;
}

.animate-bg .background::after {
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: calc(100% - 519px);
    background-color: #FFBB00;
    top: 520px;
}

.animate-bg .background svg {
    position: absolute;
    z-index: 2;
}

.animate-bg > div:first-child, .animate-bg > div:last-child {
    width: calc(50% - 236px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.animate-bg > div:first-child {
    text-align: right;
}

.animate-bg > div:first-child > div {
    margin-bottom: 75%;
}

.animate-bg > div:first-child > img {
    margin-bottom: 42%;
    margin-left: 8%;
}

.animate-bg > div:last-child > div {
    margin-bottom: 60%;
}

.animate-bg > div:last-child > img {
    margin-bottom: 46%;
    margin-right: 8%;
}

.animate-bg .abs {
    position: absolute;
    padding: 50px 0 0 70px;
    top: 0;
    left: 50%;
}

.animate-bg img {
    z-index: 1;
    width: 37%;
}

.animate-bg .title {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
}

.animate-bg .title + p {
    margin: 0;
}

.animate-bg svg * {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.animate-bg:hover svg #bg_bot path:nth-child(4) {
    fill: #041D85;
}

.animate-bg:hover svg #bg_second path:last-child {
    fill: #5992DC;
    -webkit-transform: translate(0, 125px);
    -ms-transform: translate(0, 125px);
    transform: translate(0, 125px);
}

.animate-bg:hover svg #bg_first path:last-child {
    -webkit-transform: translate(0, -125px);
    -ms-transform: translate(0, -125px);
    transform: translate(0, -125px);

}

.animate-bg:hover #bg_top {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.animate-bg:hover svg #bg_first path:nth-child(1),
.animate-bg:hover svg #bg_first path:nth-child(2) {
    -webkit-transform: translate(0, 60px);
    -ms-transform: translate(0, 60px);
    transform: translate(0, 60px);
}

.animate-bg:hover svg #bg_second path:nth-child(1),
.animate-bg:hover svg #bg_second path:nth-child(2) {
    -webkit-transform: translate(0, -60px);
    -ms-transform: translate(0, -60px);
    transform: translate(0, -60px);
}

.bg.yellow {
    background-color: #FFBB00;
}

.block.yellow {
    padding-top: 80px;
    padding-bottom: 150px;
}

.left, .right {
    position: relative;
    width: 50%;
    padding: 0 20px;
}

.yellow .wrapper, .wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.wrapper .item {
    width: 44%;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.wrapper .item img {
    margin: 0 auto 30px;
    height: 78px;
}

.yellow h4 {
    font-weight: 500;
    margin-bottom: 55px;
    position: relative;
}

.yellow .block-inner > h4::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -70px;
    height: 63px;
    width: 3px;
    background-color: #FFC62C;
}

.left .before::before, .left .before::after, .right .before::before, .right .before::after,
.left .after::before, .left .after::after, .right .after::before, .right .after::after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
}

.left .before::before {
    height: 27px;
    top: 0;
    right: 28.7%;
    border-top-left-radius: 27px;
    border-top: 3px solid #FFC62C;
    border-left: 3px solid #FFC62C;
}

.left .before::after {
    height: 42px;
    top: -42px;
    width: 50%;
    right: -2px;
    border-bottom-right-radius: 27px;
    border-bottom: 3px solid #FFC62C;
    border-right: 3px solid #FFC62C;
}


.right .before::before {
    height: 42px;
    top: -42px;
    left: -1px;
    width: 50%;
    border-bottom-left-radius: 27px;
    border-bottom: 3px solid #FFC62C;
    border-left: 3px solid #FFC62C;
}

.right .before::after {
    height: 27px;
    top: 0;
    left: 27.7%;
    border-top-right-radius: 27px;
    border-top: 3px solid #FFC62C;
    border-right: 3px solid #FFC62C;
}

.left .after::before {
    height: 27px;
    bottom: 0;
    right: 28.7%;
    border-bottom-left-radius: 27px;
    border-bottom: 3px solid #FFC62C;
    border-left: 3px solid #FFC62C;
}

.left .after::after {
    height: 125px;
    bottom: -125px;
    right: -2px;
    border-top-right-radius: 27px;
    border-top: 3px solid #FFC62C;
    border-right: 3px solid #FFC62C;
}

.right .after::before {
    height: 125px;
    bottom: -125px;
    left: -1px;
    border-top-left-radius: 27px;
    border-top: 3px solid #FFC62C;
    border-left: 3px solid #FFC62C;
}

.right .after::after {
    height: 27px;
    bottom: 0;
    left: 27.7%;
    border-bottom-right-radius: 27px;
    border-bottom: 3px solid #FFC62C;
    border-right: 3px solid #FFC62C;
}

.yellow .wrapper .item::before {
    content: '';
    height: 15px;
    width: 3px;
    position: absolute;
    left: 50%;
    top: 9px;
    background-color: #FFC62C;
}

.yellow .wrapper .item::after {
    content: '';
    height: 15px;
    width: 3px;
    position: absolute;
    left: 50%;
    bottom: 9px;
    background-color: #FFC62C;
}

.yellow .wrapper .left .item:first-child::before,
.yellow .wrapper .right .item:last-child::before,
.yellow .wrapper .left .item:first-child::after,
.yellow .wrapper .right .item:last-child::after {
    display: none;
}

.yellow .item h4 {
    font-size: 20px;
    color: #fff;
    margin: 0;
    min-height: 48px;
}

.yellow .item h4 + p {
    font-size: 18px;
    margin: 5px 0 0;
}

.faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 54px;
    position: relative;
}

.faq .middle {
    width: 215px;
    margin-left: 24px;
    height: 700px;
}


.faq > div:first-child, .faq > div:last-child {
    width: calc(50% - 120px);
}

.faq > div:first-child {
    padding-top: 79px;
    text-align: right;
    padding-right: 48px;
}

.faq > div:last-child {
    padding-top: 176px;
}

.faq .title {
    font-weight: normal;
    font-size: 18px;
}

.faq > div:first-child > div:last-child {
    margin-bottom: 136px;
}

.faq > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.faq h4 {
    text-align: left;
}

.faq .btn {
    margin-top: 40px;
}

.faq .middle img {
    position: absolute;
    z-index: 2;
}

.faq .middle::after {
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: calc(100% - 640px);
    background-color: #F6F8FF;
    top: 640px;
}

.table > .row, .table > .row > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.table > .row > div {
    width: 50%;
}

.table .item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin: 0 2% 30px;
    width: 46%;
    padding: 27px 18px 21px 93px;
    position: relative;
}

.table .item img {
    position: absolute;
    left: 25px;
    top: 21px;

}

.table .item b {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.table + .btn {
    margin: 40px auto 0;
}

.table-block {
    padding-bottom: 100px;
}

.table-block .item {
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.table-block .item:hover {
    border: 2px solid #BDBDBD;
}

.table-block .item:hover b {
    color: #FFBB00;
}

.table-block .item b {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cases {
    padding-top: 100px;
    background-color: rgba(247, 248, 255, 0.51);
    position: relative;
}

.cases + .block {
    background-color: rgba(247, 248, 255, 0.51);
}

.cases h3 {
    font-size: 40px;
}

.cases h3 + p {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

.cases .chart {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.chart .line, .chart .line2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/line1.svg") no-repeat center;
    background-size: 90%;
    opacity: 0;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

.chart .line2 {
    background: url("../img/line2.svg") no-repeat center;
    background-size: 90%;
}

.cases.ver1 .line {
    opacity: 1;
}

.cases.ver2 .line2 {
    opacity: 1;
}

.tabs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    position: relative;
    z-index: 2;
}

.tab {
    width: 24vw;
    padding: 27px 40px 21px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.tab.active {
    border: 2px solid #E0E0E0;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
}

.tabs {
    margin-right: 30px;
}

.tabs-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background: url('../img/chbg.svg') no-repeat center;
    background-size: contain;
}

.tabs-content .content {
    width: 23%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    min-height: 200px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tab .title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.tab.active .title {
    color: #FFBB00;
}

.tab p {
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 0;
    max-height: 19px;
    overflow: hidden;
}

.tab.active p {
    max-height: 300px;
}

.content .data {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    font-weight: 500;
    font-size: 50px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.content .data span {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #BDBDBD;
    display: block;
    position: absolute;
}

.content .data.active {
    opacity: 1;
    visibility: visible;
}

.tabs-content .content p {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 100px;
}

.tabs-content .content img {
    margin-top: 60px;
    position: absolute;
    right: 23px;
}

.cases.ver1 .content:nth-child(1) {
    min-height: 195px;
}

.cases.ver1 .content:nth-child(2) {
    min-height: 360px;
}

.cases.ver1 .content:nth-child(3) {
    min-height: 190px;
}

.cases.ver1 .content:nth-child(4) {
    min-height: 227px;
}

.cases.ver2 .content:nth-child(1) {
    min-height: 256px;
}

.cases.ver2 .content:nth-child(2) {
    min-height: 200px;
}

.cases.ver2 .content:nth-child(3) {
    min-height: 371px;
}

.cases.ver2 .content:nth-child(4) {
    min-height: 236px;
}

.chart .bars {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 70%;
}

.bars, .bars .pair {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bars {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.bars .pair > div {
    width: 16px;
    opacity: 0.2;
    border-radius: 3px;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

.bars .pair > div:first-child {
    background: #A09DC0;
    margin-right: 5px;
}

.bars .pair > div:last-child {
    background: #FFBB00;
}

.bars .pair {
    margin: 0 4.4%;
}

.cases.ver1 .pair:nth-child(1) > div:first-child {
    height: 186px;
    margin-top: 40px;
}

.cases.ver1 .pair:nth-child(1) > div:last-child {
    height: 53px;
    margin-top: 110px;
}

.cases.ver1 .pair:nth-child(2) > div:first-child {
    height: 452px;
    margin-top: 0px;
}

.cases.ver1 .pair:nth-child(2) > div:last-child {
    height: 161px;
    margin-top: 74px;
}

.cases.ver1 .pair:nth-child(3) > div:first-child {
    height: 360px;
    margin-top: 55px;
}

.cases.ver1 .pair:nth-child(3) > div:last-child {
    height: 21px;
    margin-top: 140px;
}

.cases.ver1 .pair:nth-child(4) > div:first-child {
    height: 160px;
    margin-top: 20px;
}

.cases.ver1 .pair:nth-child(4) > div:last-child {
    height: 61px;
    margin-top: 67px;
}

.cases.ver1 .pair:nth-child(5) > div:first-child {
    height: 117px;
    margin-top: 100px;
}

.cases.ver1 .pair:nth-child(5) > div:last-child {
    height: 53px;
    margin-top: 87px;
}

.cases.ver1 .pair:nth-child(6) > div:first-child {
    height: 83px;
    margin-top: 38px;
}

.cases.ver1 .pair:nth-child(6) > div:last-child {
    height: 22px;
    margin-top: 127px;
}

.cases.ver1 .pair:nth-child(7) > div:first-child {
    height: 37px;
    margin-top: 130px;
}

.cases.ver1 .pair:nth-child(7) > div:last-child {
    height: 6px;
    margin-top: 143px;
}

.cases.ver2 .pair:nth-child(1) > div:first-child {
    height: 206px;
    margin-top: 20px;
}

.cases.ver2 .pair:nth-child(1) > div:last-child {
    height: 53px;
    margin-top: 140px;
}

.cases.ver2 .pair:nth-child(2) > div:first-child {
    height: 366px;
    margin-top: 48px;
}

.cases.ver2 .pair:nth-child(2) > div:last-child {
    height: 166px;
    margin-top: 0px;
}

.cases.ver2 .pair:nth-child(3) > div:first-child {
    height: 480px;
    margin-top: -40px;
}

.cases.ver2 .pair:nth-child(3) > div:last-child {
    height: 21px;
    margin-top: 143px;
}

.cases.ver2 .pair:nth-child(4) > div:first-child {
    height: 97px;
    margin-top: 52px;
}

.cases.ver2 .pair:nth-child(4) > div:last-child {
    height: 61px;
    margin-top: 0px;
}

.cases.ver2 .pair:nth-child(5) > div:first-child {
    height: 117px;
    margin-top: 100px;
}

.cases.ver2 .pair:nth-child(5) > div:last-child {
    height: 53px;
    margin-top: 87px;
}

.cases.ver2 .pair:nth-child(6) > div:first-child {
    height: 83px;
    margin-top: 70px;
}

.cases.ver2 .pair:nth-child(6) > div:last-child {
    height: 22px;
    margin-top: 61px;
}

.cases.ver2 .pair:nth-child(7) > div:first-child {
    height: 37px;
    margin-top: 106px;
}

.cases.ver2 .pair:nth-child(7) > div:last-child {
    height: 6px;
    margin-top: 122px;
}

.swiper-slide img {
    width: 100%;
}

.swiper {
    padding: 100px 18vw 100px;

}

.swiper .wrapper {
    position: relative;
}

.swiper-button-prev {
    left: -70px;
    background-image: url('../img/prev.svg');
}

.swiper-button-next {
    right: -70px;
    background-image: url('../img/next.svg');
}

.swiper .btn {
    margin: 100px auto 0;
}

.swiper h4 {
    margin: 0 0 70px;
}

.steps {
    padding-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.steps-block {
    padding-top: 100px;
    padding-bottom: 70px;
}

.steps-block h3 + p {
    text-align: center;
    font-size: 25px;

}

.step {
    width: 337px;
    height: 115px;

    margin: 0 auto 30px;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.step::before {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.step:first-child {
    color: #fff;
}

.step:first-child::before {
    background-color: #FFBB00;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.step:first-child:hover::before {
    background-color: #EEDE20;
}

.step .step-content {
    position: absolute;
}

.step .num {
    position: absolute;
    left: -50px;
    font-size: 20px;
    color: #242939;
}

.step > img {
    margin-right: 25px;
}

.step .title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.step:nth-child(2)::before {
    width: 33vw;
}


.step .step-content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.step .step-content > div {
    max-width: 226px;
    margin-right: 2vw;
}

.step:nth-child(4) .step-content > div {
    margin-right: 0;
    margin-left: 2vw;
}

.step:nth-child(2) .step-content {
    position: absolute;
    right: 144%;

}

.step:nth-child(4) .step-content {
    position: absolute;
    left: 126%;

}

.step:nth-child(2) .step-content::after, .step:nth-child(4) .step-content::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #D8EAFF;
    position: absolute;
    right: -70px;
}

.step:nth-child(4)::before {
    width: 33vw;
    right: 0;
    left: auto;
}

.step:nth-child(4) .step-content::after {
    right: auto;
    left: -70px;
}

.part {
    padding-top: 100px;
    padding-bottom: 120px;
}

.part .table {
    margin-top: 100px;
}

.part .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.part .item {
    padding: 60px 40px;
    min-height: 337px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.part .table .item img {
    max-width: 150px;
    position: relative;
    left: 0;
    top: 0;
}

.part .table .item b {
    margin-top: auto;
}

footer {
    background-color: #242939;
    color: #fff;
    padding: 100px 12.5vw;
}

footer h3 {
    text-align: left;
}

footer h3 + p {
    font-weight: 300;
    font-size: 25px;
    margin: 10px 0;
}

footer form {
    margin-top: 70px;
}

footer .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

input:not([type="checkbox"]), select, textarea {
    width: 337px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 19px 40px 22px;
    border: none;
    margin: 0 30px 30px 0;
    outline: none;
    font-weight: normal;
    font-size: 15px;
    color: #242939;
}

textarea {
    resize: none;
}

::-webkit-input-placeholder {
    color: #242939;
}

:-ms-input-placeholder {
    color: #242939;
}

::-moz-placeholder {
    color: #242939;
}

::-ms-input-placeholder {
    color: #242939;
}

::placeholder {
    color: #242939;
}

footer button {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 !important;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

footer label.checkbox {
    margin: 30px 0 60px;
    display: block;
    font-weight: normal;
    font-size: 15px;
}

input[type="checkbox"] {
    width: 10px;
    height: 10px;
    border: 1px solid #DCE0EB;
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background: #fff;
}

input[type="checkbox"]:checked::after {
    content: '';
    width: 3px;
    height: 6px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 2px;
}

label.checkbox > input {
    margin-right: 10px;
}

hr {
    margin-bottom: 50px;
    opacity: 0.1;
}

footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: normal;
    font-size: 15px;
}

footer input:not([type="checkbox"]), footer select {
    width: 24%;
}

footer .flex > div {
    width: 24%;
    margin-right: 30px;
}

footer .flex > div:last-child {
    width: auto;
    margin-left: auto;
    margin-right: 0;
}

footer .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer .flex p, footer .flex ul {
    margin: 0;
}

footer .contacts > a:first-child {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
}

footer ul {
    color: #FFBB00;
    padding-left: 15px;
}

footer .flex > div:nth-child(3) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

select, .custom-select {
    background-image: url('../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal h3 {
    margin: 0 0 10px 0;
}

.modal h3 + p, .modal h4 + p {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.modal, .modal-message {
    visibility: hidden;
}

.modal.active, .modal-message.active {
    visibility: visible;
    opacity: 1;
    z-index: 20;
}

.modal-inner, .modal-message, .modal .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 705px;
    width: 100%;
    max-height: 80vh;
    overflow: auto;
    background: #fff;
    padding: 70px 70px;
    border-radius: 5px;
    z-index: 10;
}

.modal .wrapper {
    background: transparent;
    overflow: visible;
}

.modal-message {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    max-width: 425px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.modal-message div:nth-child(1) {
    color: #FFBB00;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 70px;
}

.modal-message div:nth-child(2) {
    font-size: 28px;
}

form .modal-message {
    -webkit-box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.8);
}

.modal__close-btn, .close-btn, .close-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    margin: 5px;
    cursor: pointer;
}

.modal__close-btn {
}

.close-btn {
    z-index: 2;
    right: 30px;
    top: 30px;
}

.modal__close-btn div, .close-btn div, .close-menu div {
    width: 100%;
    height: 4px;
    top: 50%;
    position: absolute;
    background: #FFBB00;
}

.modal__close-btn div:nth-child(1), .close-btn div:nth-child(1), .close-menu div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__close-btn div:nth-child(2), .close-btn div:nth-child(2), .close-menu div:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-menu {
    display: none;
}

.modal form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal input:not([type="checkbox"]), textarea {
    background: #F6F8FF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 20px;
}

.modal .checkbox {
    max-width: 370px;
    margin: 20px auto 40px;
}

.inactive {
    visibility: hidden !important;
    opacity: 0 !important;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.modal a {
    color: #FFBB00;
}

.modal-agreement, .modal-personal {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-agreement .inner, .modal-personal .inner {
    background: #fff;
    max-width: 90vw;
    max-height: 90vh;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px;
    overflow: auto;
    font-size: 18px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer form a {
    color: #FFBB00;
}

p.v2 {
    display: none;
}

.menu-close {
    display: none;
}

.table-block .table {
    margin-top: 100px;
}

.tab-data {
    display: none;
}

@media screen and (max-width: 1800px) {
    header nav .phone {
        margin-left: 2vw;
    }

    header .login {
        margin-left: 30px;
    }

    header li {
        margin-right: 1vw;
    }

    header ul {
        margin-left: 30px;
    }
}

@media screen and (max-width: 1600px) {
    header nav .phone {
        display: none;
    }

    header .login {
        margin-left: auto;
    }

    header ul {
        margin-right: 30px;
    }

    .table .row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    main > .block:first-child .block-inner {
        padding: 30px;
    }

    .animate-bg {
        padding: 140px 30px 0;
    }

    .table > .row > div {
        width: unset;
    }

    .content .data {
        font-size: 36px;
    }
}

@media screen and (max-width: 1400px) {
    .step:nth-child(2) .step-content::after, .step:nth-child(4) .step-content::after {
        display: none;
    }

    .step .step-content {
        display: block;
    }

    .step-content img {
        margin: 10px auto;
    }

    .step-content div:first-child {
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 1270px) {
    .step .step-content > div {
        max-width: 176px;
    }

    header ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    header li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .block-inner.pad {
        padding-left: 30px;
        padding-right: 30px;
    }

    .animate-bg > div > img {
        display: none;
    }

    .block.yellow {
        padding-top: 180px;
    }

    .yellow .wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .left, .right {
        width: 100%;
    }

    .before, .after {
        display: none;
    }

    .yellow .wrapper .item::before, .yellow .wrapper .item::after {
        display: none;
    }

    .bars .pair > div, .tabs-content .content{
        transition: none;
    }

    .tabs-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .tab {
        margin-right: 30px;
    }

    .tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .step:nth-child(2) .step-content {
        right: 140%;
    }

    .step-content img {
        display: none;
    }

    .step:nth-child(n + 1)::before {
        width: 100%;
    }

    footer .inner-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    footer .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    footer input:not([type="checkbox"]), footer select {
        width: auto;
    }

    .yellow h4::before {
        display: none;
    }
}

.menu-btn {
    display: none;
}

.mh {
    display: none;
}

@media screen and (max-width: 1000px) {
    .menu-btn {
        display: block;
        width: 42px;
        height: 42px;
        background: url("../img/menu.svg") no-repeat left center;
        background-size: initial;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    header nav {
        display: none;
        position: absolute;
        top: 0;
        left: -30px;
        padding: 130px 28px 50px;
        background: #0e142e;
        width: 100vw;
        text-align: center;
    }

    .header-wrapper::after {
        z-index: -1;
    }

    header a.mobile {
        display: block;
        width: 42px;
        height: 42px;
        background: url("../img/phone-mob.svg") no-repeat center;
        background-size: contain;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .header-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    header h1 {
        font-size: 30px;
    }

    header h1 + p {
        font-size: 18px;
    }

    .btn {
        max-width: 315px;
        width: 100%;
    }

    .advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: unset;
    }

    .advantages .item {
        width: 315px;
        margin-bottom: 150px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    main > .block:first-child .block-inner {
        margin-top: 0;
    }

    .advantages .item h3 {
        font-size: 30px;
    }

    h4, h3 {
        font-size: 30px;
    }

    .partners .item .title {
        font-size: 18px;
    }

    .partners .item {
        padding-bottom: 20px;
    }

    .partners {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 50px;
    }

    .partners img, .partners i, .partners .item::after {
        display: none;
    }

    .animate-bg::before, .animate-bg::after, .animate-bg .background {
        display: none;
    }

    .block.bg:not(.yellow), .animate-bg {
        background-color: #fff;
    }

    .animate-bg > div:first-child, .animate-bg > div:last-child {
        display: none;
    }

    .animate-bg .abs {
        position: relative;
        padding: 0;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    .animate-bg {
        padding: 30px 30px 200px;
        position: relative;
    }

    .animate-bg .title {
        font-size: 25px;
        text-align: center;
    }

    .animate-bg .title + p {
        text-align: center;
    }

    .animate-bg::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 125px 187.5px 0 187.5px;
        border-color: #ffffff transparent transparent transparent;
        left: 50%;
        top: 100%;
        border-radius: 0;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        z-index: 2;
    }

    .block.yellow {
        position: relative;
        padding-bottom: 0;
    }

    .block.yellow::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 125px 187.5px 0 187.5px;
        border-color: #FFBB00 transparent transparent transparent;
        left: 50%;
        top: 100%;
        border-radius: 0;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .animate-bg::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 178px;
        height: 227px;
        background-image: url('../img/rorocop.svg');
        border: none;
        z-index: 2;
    }

    .yellow .block-inner > h4::before {
        display: none;
    }

    .yellow .wrapper, .wrapper .content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .wrapper .item {
        width: 100%;
    }

    .faq {
        padding-top: 200px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 140px;
    }

    .faq .middle {
        display: none;
    }

    .faq > div:first-child, .faq > div:last-child {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .faq .title {
        font-size: 25px;
    }

    .faq .title + p {
        font-size: 18px;
    }

    .mh {
        display: block;
    }

    .faq img {
        margin: 0 auto 30px;
    }

    .faq h4 {
        font-size: 25px;
        text-align: center;
    }

    .block-inner {
        padding-left: 30px;
        padding-right: 30px;
    }

    h3 + h4 {
        font-size: 20px;
    }

    h3 + h4 + p {
        font-size: 20px;
    }

    .table > .row > div {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .table-block .item {
        width: 100%;
    }

    .cases .chart {
        display: none;
    }

    .tab {
        width: 100%;
    }

    .tabs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 0;
    }

    .cases h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .tabs-content {
        display: none;
    }

    .table-block {
        padding-bottom: 70px;
    }

    .cases {
        padding-top: 70px;
    }

    .step {
        width: 100%;
    }

    .step .step-content {
        display: none;
    }

    .part {
        padding: 70px 0;
    }

    .table .item {
        width: 100%;
        min-height: 0;
    }

    .part .item {
        padding: 30px;
    }

    .part .table .item img {
        width: auto;
        margin: 0 auto;
    }

    .part .table .item b {
        display: none;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    footer .flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    footer .flex > div {
        width: 100%;
    }

    footer .inner-wrapper {
        display: block;
        text-align: center;
    }

    footer input {
        margin-right: 0 !important;
    }

    footer button {
        margin: 0 auto;
    }

    footer .flex > div:first-child {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    footer .flex > div:nth-child(2) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    footer .flex > div:nth-child(3) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    footer .flex > div:nth-child(4) {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    footer .flex > div {
        margin-right: 0;
        width: 100%;
    }

    footer ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 40px !important;
    }

    footer .flex p {
        font-size: 15px;
        margin-bottom: 70px;
    }

    footer .flex > div:last-child {
        margin-left: 0;
        margin-bottom: 70px;
    }

    footer .flex img {
        margin: 0 auto;
    }

    header {
        padding: 0 30px;
    }

    header .logo, header a.mobile {
        z-index: 2;
    }

    header ul {
        display: block;
        font-size: 18px;
        text-align: center;
        margin-bottom: 50px;
    }

    header li {
        margin: 0 0 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .modal input:not([type="checkbox"]), textarea {
        width: 100%;
    }

    .modal-inner, .modal-message, .modal .wrapper {
        padding: 30px;
        max-width: 90vw;
    }

    header .overlay {
        background-color: rgba(36, 41, 57, 1);
    }

    header {
        background: none;
    }

    .header-wrapper .btn {
        margin: 30px auto 0;
        font-size: 18px;
        width: 207px;
        font-weight: normal;
    }

    header .close-menu {
        display: block;
        left: 21px;
        top: 25px;
        width: 42px;
        height: 42px;
    }

    .close-menu div {
        background: #fff;
    }

    header li:last-child {
        border-bottom: none;
    }

    .tab-data p {
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }

    .tab-data_content {
        display: flex;
        margin-bottom: 70px;
        justify-content: center;
        position: relative;
        padding: 0 40px;
    }

    .tab-data_content img {
        position: absolute;
        left: 30px;
        transform: translate(-75%, 0);
    }

    .tab-data_content .val {
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
    }

    .tab-data_content .per {
        font-weight: normal;
        font-size: 20px;
        color: #BDBDBD;
        align-self: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .tab-data {
        margin-top: 60px;
    }

    .tab.active .tab-data {
        display: block;
    }

    .tab p {
        max-height: 0;
    }
}