$font-family: 'Inter', sans-serif;

$color-font_logo: #374234;
$color-text_primary: #2D3436;
$color-text_secondary: #616161;

$color-primary: #5FCB39;
$color-primary_transparent: rgba($color-primary, 0.3);
$color-border: #E1E1E1;

$transition-time: 0.3s;

$gap-sm: 10px;
$gap-md: 15px;
