@media screen and (min-width: 1501px) {
    .contacts_wrapp #map {
        height: 570px;
    }

    .menu_items .item:nth-child(odd) {
        margin-right: 164px;
    }

    .catalog_list .menu_items .item {
        margin-right: 89px;
    }

    .item_title_wrap {
        font-size: 30px;
    }

    .square {
        width: 60px;
        height: 60px;
    }

    .registration input {
        height: 48px;
    }

    .registration textarea {
        height: 90px;
    }

    .menu, .header_wrapper, .block {
        padding-left: 111px !important;
        padding-right: 111px !important;
    }

    .chat span, .callus span {
        font-size: 13px;
    }

    .chat .header_title {
        font-size: 14px;
    }

    .callus .header_title {
        font-size: 14px;
    }

    .links {
        font-size: 10px;
        margin-left: 52px;
    }

    .chat {
        padding-left: 39px;
        padding-right: 8px;
    }

    .header_search {
        margin-left: 60px;
    }

    .recall {
        font-size: 14px;
    }

    .discount span {
        font-size: 28px;
    }

    .header_search {
        margin-left: 60px;
    }

    .button_sm {
        font-size: 18px;
    }

    .button_lg {
        width: 100% !important;
        font-size: 24px;
    }

    .reg_form .title {
        font-size: 34px;
    }

    .reg_form .title2 {
        font-size: 28px;
    }

    .registration {
        margin-top: 20px;
    }

    .registration input[type=submit] {
        margin: 50px auto 0 auto;
    }

    .products_block .title {
        font-size: 41px;
    }

    .title_red, .title_green, .contacts_title {
        font-size: 41px !important;
    }
}

@media screen and (max-width: 1000px) {
    .block_404 .title_red .red_bar {
        left: 41.7%;
    }

    .block_404 .title_red .red_bar_reverse {
        left: 45.1%;
    }
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    .contacts_wrapp {
        margin-top: 59px;
    }

    .slider_block {
        margin: 7vw 0;
    }

    .special_offer {
        margin: 10px 0 58px 0;
    }

    .green_bar {
        width: 13.1%;
        left: 43.4%;
        margin-top: 18px;
    }

    .header_wrapper {
        /*
        padding: 24px 0 24px 0;
        */
    }

    .header_search {
        position: absolute;
        margin: 0;
        bottom: -3px;
        left: -3px;
    }

    .header_search input[type=search] {
        left: 0;
        top: -3px;
        height: 22px;
    }

    .chat .header_title, .callus .header_title {
        font-size: 14px;
        margin: 14px 11px 0 0;
    }

    .chat span {
        font-size: 13px;
        margin: 5px 9px 0 8px;
    }

    .callus span {
        font-size: 1.9vw;
        white-space: nowrap;
        margin: 0px 15px 0px -5px;
    }

    .callus {
        padding-left: 10px;
    }

    .chat {
        padding-left: 2.2vw;
    }

    .chat div, .callus div {
        margin-top: -3px;
    }

    .logo {
        width: 27vw;
    }

    .menu, .header_wrapper, .block, .slider_block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .recall {
        font-size: 14px;
        padding-left: 0;
        padding-top: 26px;
    }

    .recall .button {
        margin-left: 15px;
        width: 80px;
        box-sizing: content-box;
    }

    .button_sm {
        border-radius: 15px;
        max-width: 125px;
        padding: 3px 10px;
        font-size: 16px;
        height: auto;
    }

    .links {
        font-size: 8px;
        margin-left: 5%;
        padding-top: 8px;
    }

    .links a:first-child {
        margin-right: 5px;
    }

    .slider_container {
        width: 62%;
    }

    .reg_form {
        padding-top: 0;
        padding-left: 0;
        width: 38%;
    }

    .reg_form .title {
        font-size: 2.6vw;
        letter-spacing: -0.7px;
        margin-top: -8px;
    }

    .reg_form .title2 {
        font-size: 2.2vw;
        letter-spacing: -0.4px;
    }

    .reg_form .title, .reg_form .title2 {
        margin-bottom: 16px;
    }

    .discount span {
        font-size: 2.2vw;
    }

    .discount {
/*        padding-top: calc(50 / 600 * 100%);*/
    }

    .registration {
        margin-left: 6%;
    }

    .registration input {
        width: 97%;
        height: 4.3vw;
        margin-bottom: 10px;
    }

    .registration textarea {
        width: 97%;
        height: 9vw;
    }

    .registration input[type=submit] {
        margin: 1.9vw auto 0 auto;
        width: 100%;
    }

    .button_lg {
        border-radius: 17px;
        max-width: 250px;
        max-height: 40px;
        font-size: 2.2vw;
    }

    .products_block .title {
        font-size: 3.2vw;
    }

    .products_block {
        margin-bottom: 40px;
    }

    .description {
        margin-bottom: 6vw;
    }

    .menu_items {
        /*display: grid;
        grid-gap: 93px 3.3vw;
        grid-template-columns: 48.3% 48.3%;*/
    }

    .menu_items .item {
        width: 48.3%;
        margin-bottom: 200px;
    }

    .menu_items .item:nth-child(odd) {
        margin-right: 3.2vw;
    }

    .item_menu {
        top: 70%;
        bottom: auto;
        right: 9%;
    }

    .beste {
        padding-bottom: 10px;
    }

    .title_red {
        font-size: 3.2vw;
        padding-left: 4px;
        letter-spacing: -0.5px;
    }

    .title_red .red_bar {
        width: 16.8%;
        margin: 12px 0 0 0;
        position: relative;
        left: 42.6%;
    }

    .red_bar_reverse {
        position: relative;
        width: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 46%;
        margin-top: 7px;
    }

    .title_green, .contacts_title {
        font-size: 3.2vw;
    }

    .sub_title {
        margin: 28px 0 37px 0;
    }

    .item_title_wrap {
        width: 80%;
    }

    .item_title_wrap {
        left: 5%;
        font-size: 3vw;
    }

    .square {
        width: 6vw;
        height: 6vw;
        top: 0;
    }

    .support {
        margin-bottom: 4px;
    }

    .item_title {
        padding: 10px 0 0 21px;
    }

    .grid_item2 .square, .grid_item5 .square {
        top: 10%;
    }

    .grid_item3 .square, .grid_item4 .square {
        top: 2%;
    }

    .grid_item3 .item_title_wrap, .grid_item4 .item_title_wrap {
        width: 67%;
    }

    .map_wrapper {
        margin: 45px 0 30px 0;
    }

    .sert .title_red, .part .title_green {
        font-size: 3.2vw;
    }

    .sert .title_red {
        letter-spacing: -1.5px;
        padding-left: 10px;
    }

    .sert {
        margin-top: 9.1vw;
    }

    .sert .red_bar_reverse {
        margin-top: 20px;
        left: 46%;
        width: 7%;
    }

    .header_search .active {
        width: 140px !important;
    }

    .contacts_title .green_bar {
        margin-top: 19px;
        width: 12.7%;
        left: 43.5%;
    }

    .part {
        margin-top: 56px;
    }

    .part .title_green {
        padding-left: 9px;
        letter-spacing: -1.7px;
    }

    .part .green_bar {
        margin-top: 24px;
        left: 43%;
        /*width: 13%;*/
    }

    .partners {
        margin-bottom: 64px;
    }

    .footer_social_wrapp {
        padding: 0 35px;
    }

    .contacts_wrapp .reg_form {
        padding-top: 36px;
        padding-left: 0;
    }

    /*.contacts .block {
        margin-top: 6vw;
    }*/
    .contacts_wrapp #map {
        max-width: 62.2%;
    }

    .contacts_wrapp .map_cont {
        -webkit-transform: translate(-50%, 69%);
        -ms-transform: translate(-50%, 69%);
        transform: translate(-50%, 69%);
    }

    .contacts .title_red {
        padding-left: 13px;
    }

    /*.contacts .title_red .red_bar {
        width: 17%;
        margin: 23px 0 0 0;
        left: 40.8%;
    }*/
    /*.contacts .red_bar_reverse {
        left: 44.3%;
    }*/
    .contacts .map_wrapper {
        margin-bottom: 112px;
    }

    .contacts_wrapp .title_red .red_bar {
        margin: 24px 0 0 0;
        left: 40.8%;
    }

    .contacts .support {
        margin-bottom: 20px;
    }

    .contacts_wrapp .title_red .red_bar_reverse {
        left: 44.3%;
    }

    .contacts .contacts .phone_nums {
        padding-top: 12px;
    }

    .phone_nums .cont_item {
        margin-left: -13px;
        width: auto;
    }

    .phone_nums .text {
        font-size: 29px;
        margin-left: 28px;
        letter-spacing: -1.3px;
    }

    .contacts .phone_nums {
        padding-top: 12px;
        margin-bottom: 36px;
    }

    .catalog_list .menu_items .item {
        margin-right: 1vw;
        margin-bottom: 220px;
        width: 32.6%;
    }

    .catalog_list .item_menu {
        width: 218px;
        padding: 11px;
        /*
        left: 23.6%;
        */
        top: 75%;
    }

    .callback_form {
        width: 100%;
    }

    .catalog_list_form {
        width: 100%;
    }

    .catalog_list_form .support {
        margin-bottom: 25px;
    }

    .catalog_list_form .registration {
        margin: 0;
    }

    .catalog_list_form .registration input[type=text], .catalog_list_form .registration textarea, .catalog_list_form .registration input[type=number] {
        width: 100%;
    }

    .catalog_list_form .registration label:nth-child(1) {
        padding-right: 15px;
    }

    .catalog_list_form .registration label:nth-child(2) {
        padding-left: 15px;
    }

    .catalog_list_form .registration label:nth-child(3) {
        margin-top: 21px;
    }

    .catalog_list_form .registration textarea {
        height: 13.4vw;
    }

    .catalog_list_form .registration input[type=submit] {
        margin: 2.8vw auto 0 auto;
    }
    .block_404 .title_red {
        margin-top: 68px;
    }
}

@media screen and (max-width: 730px) {
    .sertificates img, .partners img {
        margin: 0;
    }
    .block_404 .title_red .red_bar {
        left: 49.7%;
    }

    .block_404 .title_red .red_bar_reverse {
        left: 49.9%;
    }
    .block_404 .title_red {
        margin-top: -14px;
        margin-bottom: 6px;
        font-size: 22px;
    }
    .not-found {
        font-size: 154px;
        margin-bottom: -11px;
        margin-top: 19px;
    }
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    blockquote {
        margin: 0;
    }

    .contacts_wrapp {
        margin-top: 19px;
    }

    .header_wrapper {
        display: none;
    }

    .mobile_header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        position: relative;
    }

    header {
        padding: 15px 0 20px 9px;
        overflow: hidden;
        -webkit-box-shadow: 0 10px 80px #4a4a4a40;
        box-shadow: 0 10px 80px #4a4a4a40;
    }

    nav {
        bottom: unset;
        z-index: 5;
        left: 150%;
        position: relative;
    }

    .nav_wrapp {
        /*position: absolute;
        overflow: hidden;*/
        width: 100%;
        height: 0;
    }

    .menu a {
        color: #acacac;
    }

    nav a:hover {
        color: #9ac47a;
    }

    nav a:hover::before, nav a:hover::after {
        display: none;
    }

    .menu {
        background-color: #262626;
        padding: 0;
    }

    .logo {
        width: 39vw;
    }

    .support, .map_cont, .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .support {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .menu a {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 6px 0;
        font-size: 12px;
        border-bottom: 1px solid #474747;
        -webkit-box-shadow: 0 1px #202020;
        box-shadow: 0 1px #202020;
    }

    .callus span {
        font-size: 4.4vw;
        margin-bottom: 3px;
    }

    .callus {
        padding-left: 16px;
    }

    .menu_icon_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        right: 3%;
        height: 100%;
    }

    .menu_icon {
        margin-top: 10px;
        width: 6.5vw;
        height: 6.5vw;
        /*background-image: url("../img/if_Hamburger_657904.png");*/
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3Cpath d='M6 36h36v-4h-36v4zm0-10h36v-4h-36v4zm0-14v4h36v-4h-36z'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .open {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        /*        background-image: url("../img/if_button_close_352915.png");*/
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z'/%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3C/svg%3E");
    }

    .slider_block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 41px;
        margin-bottom: 57px;
    }

    .slider_container {
        width: 100%;
    }

    .menu, .header_wrapper, .slider_block, .contacts .block {
        padding-left: 0;
        padding-right: 0;
    }

    .discount {
/*        padding-top: calc(50 / 320 * 100%);*/
    }

    .discount span {
        font-size: 6.9vw;
    }

    .reg_form .title, .reg_form .title2, .products_block .title, .title_red, .title_green, .contacts_title, .support_item_title {
        font-size: 22px;
    }

    .reg_form {
        width: 98%;
        margin-top: 9%;
    }

    .reg_form .title {
        margin-top: 0;
    }

    .registration {
        /*margin-left: 3%;*/
        margin-top: 6.7%;
    }

    .registration label div {
        font-size: 14px;
        margin-bottom: 0;
    }

    .registration input {
        width: 96%;
        height: 42px;
        margin-bottom: 13px;
    }

    .registration textarea {
        width: 96%;
        height: 90px;
    }

    .registration label:nth-child(2) > div {
        margin-bottom: 3px;
    }

    .registration label:nth-child(3) > div {
        margin-bottom: 4px;
    }

    .button_lg {
        font-size: 17px;
        border-radius: 30px;
        max-width: 160px;
        max-height: 34px;
    }

    .registration input[type=submit] {
        margin: 20px auto 0 auto;
        width: 100%;
    }

    .products_block {
        /*
        padding-top: 19px;
        */
    }

    .products_block .title {
        letter-spacing: -0.6px;
        margin-bottom: 10px;
    }

    .menu_items {
        display: block;
    }

    .menu_items .item {
        max-width: 100%;
        margin-bottom: 150px;
        width: 100%;
    }

    .menu_items .item:nth-child(n) {
        margin-right: 0;
    }

    .item_menu {
        top: 65%;
        bottom: auto;
        right: 50%;
        -webkit-transform: translate(50%);
        -moz-transform: translate(50%);
        -ms-transform: translate(50%);
        -o-transform: translate(50%);
        transform: translate(50%);
        padding-top: 16px;
        padding-right: 11px;
    }

    .item_name, .item_quality {
        text-align: left;
        letter-spacing: -0.6px;
    }

    .item_name {
        font-size: 16px;
        margin-bottom: 9px;
    }

    .item_quality {
        font-size: 18px;
        padding-left: 2px;
        margin-bottom: 15px;
    }

    .button_sm {
        max-width: 125px;
        width: 100%;
        height: 31px;
        font-size: 18px;
    }

    .products_block {
        margin-bottom: 105px;
    }

    .title_red {
        letter-spacing: -0.4px;
        margin-bottom: 0;
        padding: 0;
    }

    .title_red .red_bar {
        width: 162px;
        margin: 5px 0 0 0;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }

    .red_bar_reverse {
        width: 96px;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }

    .arbe {
        margin-top: 52px !important;
    }

    .green_bar {
        width: 129px;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        margin-top: 9px;
    }

    .sub_title {
        margin: 14px 0 37px 0;
    }

    .mobile_visibility {
        display: none;
    }

    .support_item {
        max-width: 230px;
        margin-bottom: 35px;
    }

    .support_item__image {
        width: 100px;
        height: 100px;
        margin-bottom: 18px;
    }

    .support_item__image img {
        width: 58%;
    }

    .support_item:nth-child(2) img {
        width: 100%;
    }

    .support_item:nth-child(3) img {
        width: 70%;
    }

    .support_item__title {
        margin-bottom: 8px;
        line-height: 24px;
        font-size: 22px;
    }

    .support_item__desc {
        font-size: 16px;
        line-height: 24px;
    }

    .map_wrapper {
        margin: 13px 0 30px 0;
    }

    #map {
        margin-top: 30px;
        height: 275px;
    }

    .map_cont {
        width: 95%;
        -webkit-transform: translate(-50%, 91%);
        -ms-transform: translate(-50%, 91%);
        transform: translate(-50%, 91%);
        padding: 14px;
    }

    #map + .map_cont .cont_item:nth-child(3), #map + .map_cont .cont_item:nth-child(4) {
        display: none;
    }

    .cont_item {
        width: 225px;
    }

    .cont_item .text {
        line-height: 24px;
        margin-top: 4px;
        margin-left: 18px;
        letter-spacing: -0.1px;
    }

    #map + .map_cont .cont_item:nth-child(1) {
        margin-bottom: 17px;
    }

    #map + .map_cont .cont_item:nth-child(2) {
        padding-left: 8px;
        font-size: 19px;
    }

    .sert {
        font-family: Myriad, sans-serif;
        font-size: 32px;
        margin-top: 160px;
        margin-bottom: 27px;
    }

    .sert .title_red {
        font-size: 32px;
        letter-spacing: -1.4px;
    }

    .sert .red_bar_reverse {
        margin-top: 8px;
        width: 70px;
        left: 50%;
    }

    .part .title_green {
        font-size: 22px;
        letter-spacing: -1.4px;
    }

    .part {
        margin-top: 45px
    }

    .part .green_bar {
        margin-top: 19px;
        left: 50%;
    }

    .partners {
        margin-top: 26px;
    }

    footer {
        margin-top: 0;
        height: auto;
    }

    footer .logo {
        width: 165px;
    }

    .footer_contacts_wrapp .logo img {
        margin: 15px 0 0 0;
    }

    footer .contacts .cont_item .image {
        width: 25px;
        /*height: 25px;*/
    }

    footer .cont_item img {
        width: 100%;
    }

    footer br {
        display: none;
    }

    footer .contacts .map_cont .cont_item {
        width: 100%;
        margin-bottom: 0;
    }

    .footer_contacts_wrapp .contacts .map_cont {
        margin: 0;
        width: 100%;
        padding: 3px 0px 12px 14px;
    }

    .footer_contacts_wrapp .contacts .map_cont .cont_item:nth-child(2) .text span {
        display: inline-block;
    }

    .footer_contacts_wrapp .contacts .map_cont .cont_item:nth-child(4) {
        display: none;
    }

    footer .cont_item .text {
        line-height: 24px;
        margin-top: 2px;
        margin-left: 24px;
        letter-spacing: -0.2px;
    }

    footer .cont_item .image {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    footer .contacts {
        padding-bottom: 59px;
    }

    .footer_social .copyright, .footer_social .social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer_social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    /*.partners img {
        margin: 80px 15px;
    }*/

    .contacts_title {
        padding-left: 12px;
        letter-spacing: -0.7px;
    }

    .contacts_title .green_bar {
        margin-top: 6px;
        width: 127px;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }

    .footer_social {
        padding-top: 16px;
    }

    .footer_social .copyright {
        margin-top: 7px;
    }

    .contacts_wrapp .map_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contacts_wrapp #map {
        max-width: 100%;
        height: 245px;
    }

    .contacts .map_cont_desk {
        display: none;
    }

    .contacts .map_cont_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transform: translate(-50%, 10%);
        -ms-transform: translate(-50%, 10%);
        transform: translate(-50%, 10%);

    }

    .contacts .map_cont_mobile .cont_item:nth-child(2), .contacts .map_cont_mobile .cont_item:nth-child(3) {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .contacts .map_cont .cont_item {
        padding: 0 !important;
        margin-bottom: 17px;
    }

    .contacts .cont_item .image {
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .contacts .map_cont_mobile .cont_item:nth-child(3) {
        font-size: 17px;
    }

    .contacts .beste {
        display: none;
    }

    .contacts_wrapp .contacts_title {
        margin-top: 13px;
        padding-left: 0;
    }

    .contacts .contacts_wrapp .green_bar div {
        height: 2px;
    }

    .contacts .contacts_title .green_bar {
        margin-top: 10px;
        left: 50%;
    }

    .contacts_wrapp #map {
        margin-top: 23px;
    }

    .contacts .reg_form .title {
        padding: 5px 0 0 5px;
    }

    /*.contacts .reg_form {
        margin-bottom: 75px;
    }*/
    .catalog_list .item_menu {
        width: 270px;
        padding: 15px;
        top: 49%;
    }

    .catalog_list_form .registration {
        display: block;
    }

    .reg_form .title2 {
        display: none;
    }

    .callback_wrapp {
        padding: 14px;
    }

    .item_desc_image {
        display: none;
    }

    .order_wrapp .item_desc_wrapp .item_desc_text {
        width: 100%;
    }

    .order_wrapp .item_desc_wrapp .item_name {
        text-align: center;
    }

    .catalog_list .menu_items .item {
        max-width: 100%;
        width: 100%;
        margin-bottom: 120px;
        margin-right: 0;
    }
    .order_form{
        margin: 0;
    }

    .catalog_list_form .order_form label:nth-child(n), .catalog_list_form .products_form label:nth-child(n){
        padding-right: 0;
        padding-left: 0;
    }
    .sert_wrapp, .part_wrapp {
        width: 190px!important;
        margin: 0 auto;
        -webkit-box-pack: normal;
        -ms-flex-pack: normal;
        justify-content: normal;
    }
    .catalog_list{
        margin-bottom: 80px;
    }
}