@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/MullerRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Muller Light';
    src: url('../fonts/MullerLight.otf') format("opentype");
}

@font-face {
    font-family: 'Muller Thin';
    src: url('../fonts/MullerThin.otf') format("opentype");
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Muller Light", sans-serif;
    color: #031323;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
}

.page img {
    width: 100%;
}

h3 {
    font-family: "Muller Regular", sans-serif;
    font-size: 18px;
    text-align: center;
}

main {
    overflow: hidden;
    width: 100%;
}

button:focus {
    outline: none;
}

button, input[type=submit], .button {
    border-radius: 16px !important;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 176px;
    height: 37px;
    font-size: 16px;
    padding: 0;
}

button.blue, .button.blue {
    background-color: #0095D1;
    color: #fff;
}

button.white, .button.white {
    color: #000;
    border: 1px solid #0095D1;
    background-color: #fff;
}

.button.float {
    position: fixed;
    top: 46px;
    right: 20px;
    z-index: 10;
}

.swiper-button-next, .swiper-button-prev {
    background-image: url('../images/arrow.png');
    width: 58px;
    height: 72px;
    background-size: cover;
}

.swiper-button-prev {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.phone-number::before, .mail::before, .hours::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: -3px;
    background-repeat: no-repeat;
    background-size: contain;
}

.phone-number::before {
    background-image: url('../images/phone.png');
}

.mail::before {
    background-image: url('../images/mail-w.png');
}

.hours::before {
    background-image: url('../images/clock-w.png');
}

input {
    height: 40px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding-left: 30px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

header {
    width: 100%;
}

header .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header .logo-image {
    margin: 16px;
    width: 71px;
    height: 55px;
}

header nav {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    background-color: #0095d1;
    color: #fff;
    margin-top: 13px;
    font-size: 18px;
}

header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}

header .menu span {
    color: #fff;
}

.menu-btn {
    width: 27px;
    height: 19px;
    margin: 13px 10px 12px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.menu-btn div {
    height: 2px;
    width: 100%;
    background-color: #fff;
}

header .callback {
    margin: 17px 14px 0 auto;
}

header .phone-number {
    letter-spacing: 0.5px;
    color: #031323;
    white-space: nowrap;
}


header button {
    margin-top: 9px;
}


header nav ul {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0 14px;
    list-style: none;
}

header nav.active ul {
    height: auto;
}

header .submenu {
    margin-top: 15px;
}

header .submenu > li:last-child {
    margin-bottom: 0;
}

header a {
    color: #fff;
}

header li {
    margin-bottom: 10px;
    white-space: nowrap;
}

nav li a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: -1px;
    background-color: #0095D1;
}

section {
    width: 100%;
}

section.block {
    padding: 0 14px;
    margin-bottom: 29px;
}

section.land {
    position: relative;
    margin-bottom: 28px;
}

h1 {
    text-align: center;
    font-size: 18px;
    font-family: "Muller Regular", sans-serif;
}

section.land h1 {
    margin: 19px 30px;
}

.land video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.scheme-block {
    margin-top: 29px;
    position: relative;
    overflow: hidden;
    height: 230px;
}

.scheme-block .scheme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/scheme.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.dot {
    width: 12px;
    height: 12px;
    background: url('../images/dot.png');
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
}

@-webkit-keyframes glowing {
    0% {
        -webkit-box-shadow: 0 0 5px 1px transparent;
        box-shadow: 0 0 5px 1px transparent;
        background-color: transparent;
    }
    40% {
        -webkit-box-shadow: 0 0 5px 3px darkred;
        box-shadow: 0 0 5px 3px darkred;
        background-color: darkred;
    }
    60% {
        -webkit-box-shadow: 0 0 5px 3px darkred;
        box-shadow: 0 0 5px 3px darkred;
        background-color: darkred;
    }
    100% {
        -webkit-box-shadow: 0 0 5px 1px transparent;
        box-shadow: 0 0 5px 1px transparent;
        background-color: transparent;
    }
}

@keyframes glowing {
    0% {
        -webkit-box-shadow: 0 0 5px 1px transparent;
        box-shadow: 0 0 5px 1px transparent;
        background-color: transparent;
    }
    40% {
        -webkit-box-shadow: 0 0 5px 3px yellow;
        box-shadow: 0 0 5px 3px yellow;
        background-color: yellow;
    }
    60% {
        -webkit-box-shadow: 0 0 5px 3px yellow;
        box-shadow: 0 0 5px 3px yellow;
        background-color: yellow;
    }
    100% {
        -webkit-box-shadow: 0 0 5px 1px transparent;
        box-shadow: 0 0 5px 1px transparent;
        background-color: transparent;
    }
}

.dot.glow {
    -webkit-animation: glowing 2000ms infinite;
    animation: glowing 2000ms infinite;
}

.scheme .dot {
    position: absolute;
}


.scheme .dot[data-type="collector"], .scheme .dot[data-pos="1"] {
    top: calc(104px - 6vw);
    right: 6.4%;
}

.scheme .dot[data-type="connection"], .scheme .dot[data-pos="2"] {
    top: calc(110px - 5vw);
    right: 19%;
}

.scheme .dot[data-type="rc"], .scheme .dot[data-pos="3"] {
    top: calc(105px - 3vw);
    right: 5%;
}

.scheme .dot[data-type="frame"], .scheme .dot[data-pos="4"] {
    /*top: calc(106px + 3vw);
    left: 35%;*/
    top: 115px;
    left: 52.7%;
}

.scheme .dot[data-type="angles"], .scheme .dot[data-pos="5"] {
    top: calc(110px + 3vw);
    left: 11%;
}

.scheme .dot[data-type="pipe"], .scheme .dot[data-pos="6"] {
    top: 105px;
    left: 35%;
}

.scheme .dot[data-type="angles"], .scheme .dot[data-pos="7"] {
    top: 108px;
    left: 52%;
}

.scheme .dot[data-type="bridge"], .scheme .dot[data-pos="8"] {
    top: calc(110px + 6vw);
    left: 15%;
}

.scheme .dot[data-type="engine"], .scheme .dot[data-pos="9"] {
    top: calc(119px + 4vw);
    left: 12%;
}

.scheme .dot[data-type='drive-shaft'], .scheme .dot[data-pos="10"] {
    top: calc(104px + 5vw);
    left: 13.5%;
}

.scheme .dot[data-type='control'], .scheme .dot[data-pos="11"] {
    top: calc(100px + 2vw);
    left: 14%;
}

.scheme-pop {
    display: none;
    position: absolute;
    z-index: 2;
    top: 268px;
    left: 51px;
    width: 220px;
    /*height: 260px;*/
    padding: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scheme-pop.active {
    display: block;
}

.scheme-pop-inner {
    border-radius: 10px;
    padding: 32px 5px 10px 5px;
    border: 2px solid #0095D1;
    position: relative;
    text-align: center;
    height: 100%;
    overflow: auto;
}

.scheme-pop a {
    text-decoration: underline;
    font-family: "Muller Light", sans-serif;
    font-size: 10px;
    color: #0093cf;
}

.scheme-pop-inner * {
    font-family: "Muller Regular", sans-serif;
    font-size: 12px;
}

.scheme-pop-inner h3 {
    font-size: 14px;
}

.scheme-img {
    width: 130px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.scheme-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.tooltip {
    display: none;
}


section.about-block {
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;
    margin-bottom: 81px;
    text-align: center;
}

.about-block .swiper-button-next {
    left: calc(50% - 29px);
    right: auto;
    bottom: 0;
    top: auto;
}

.about-block .swiper-button-next::after {
    content: '';
    display: block;
    height: 2px;
    width: 50vw;
    background-color: #0095D1;
    position: relative;
    top: 46%;
    left: 83%;
}

.about-slider img {
    width: 100%;
}

section.stages {
    padding: 20px 14px;
    border-top: 2px solid #0095D1;
    margin-bottom: 53px;
}

.stages .stage-item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 5px;
    margin-bottom: 66px;
}

.stages .stage-item:last-child {
    margin-bottom: 0;
}

.stages .stage-item-inner {
    border-radius: 10px;
    padding: 32px 5px 38px 5px;
    border: 2px solid #0095D1;
    position: relative;
    text-align: center;
}

.stage-item .stage-img {
    border-radius: 50%;
    background-color: #0095D1;
    width: 88px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
}

.stage-item .stage-img::before {
    content: '';
    display: block;
    height: 27px;
    width: 2px;
    background-color: #0095D1;
    position: absolute;
    top: -27px;
    left: calc(50% - 1px);
}

.stages .stage-item:first-child .stage-img::before {
    display: none;
}

.stage-img img {
    position: relative;
    max-width: 55px;
    max-height: 55px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

section.advantages {
    text-align: center;
    margin-bottom: 50px;
}

.adv-item {
    border-left: 2px solid #0095D1;
    padding: 5px 10px 25px 10px;
    position: relative;
}

.adv-item::before {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #0095D1;
    position: absolute;
    top: 0;
    left: 0;
}

.adv-item::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #0095D1;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.adv-item:last-child {
    border-left: none;
}

.adv-item p {
    margin-bottom: 0;
}

section.form-block {
    padding: 24px 0;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.form-block form h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 40px;
}

.form-block form {
    background-color: #0095D1;
    padding: 40px 14px 22px 14px;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.form-block form input {
    margin-bottom: 20px;
}

form input[type=submit] {
    background-color: #0095D1;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;

}

.form-block form input[type=submit] {
    width: 218px;
    height: 40px;
    position: absolute;
    bottom: -80px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.form-block form::after {
    content: '';
    display: block;
    width: 100vw;
    height: 2px;
    background-color: #0095D1;
    position: absolute;
    bottom: -42px;
    left: 0;
    z-index: -1;
}

.form-block a {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-family: "Muller Thin", sans-serif;
}

section.certificates {
    margin-bottom: 75px;
}

.cert-slider {
    max-width: 570px;
    width: 100%;
    height: 79vw;
    padding-bottom: 51px;
    position: relative;
}

.cert-slider::after {
    content: '';
    height: 1px;
    width: 40%;
    background-color: #0095d1;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.cert-slider .swiper-button-prev, .cert-slider .swiper-button-next {
    bottom: 0;
    top: auto;
    width: 25px;
    height: 32px;
}

.cert-slider .swiper-slide img {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.partners {

}

.partners-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.partners-item {
    width: 48%;
    margin: 1%;
}

.partners-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}


#map {
    width: 100%;
    height: 441px;
}

#map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts-info {
    padding: 27px 14px;
    background-color: #0095d1;
}

.contacts-info * {
    color: #fff;
}

.contacts-info a {
    display: block;
    margin-bottom: 11px;
}

.contacts-info > h3 {
    display: none;
}

.contacts-info .phone-number::before {
    background-image: url("../images/phone-w.png");
}

.contact-item {
    position: relative;
    padding-bottom: 31px;
}

.contact-item p {
    margin-bottom: 37px;
}

.contact-item .phone-number::before, .contact-item .mail::before, .contact-item .hours::before {
    margin-right: 10px;
}


.contact-item:nth-child(3)::before {
    content: '';
    display: block;
    height: 2px;
    width: calc(100% + 28px);
    background-color: #fff;
    top: 0;
    left: -14px;
    position: relative;
}

.contact-item:nth-child(3)::after {
    content: '';
    display: block;
    height: 2px;
    width: 90%;
    background-color: #fff;
    bottom: 0;
    left: -14px;
    position: relative;
}

footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 44px 14px;
    text-align: center;
}

footer .logo-image {
    width: 88px;
    margin-bottom: 30px;
}

footer ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer a {
    display: block;
}

footer button {
    display: none;
}

footer li {
    list-style: none;
    margin-bottom: 10px;
}

.icon {
    width: 33px;
    height: 33px;
    display: inline-block;
}

.fb {
    background: url('../images/facebook.png');
}

.tw {
    background: url('../images/twitter.png');
}

footer .social {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 25px 0;
}

footer .social .icon {
    margin: 0 11px;
}


/* GALLERY SLIDER */

.gallery .slider-wrapper, .gallery.small .slider-wrapper {
    height: 47vw;
    width: 100%;
    padding: 0 0 40px 0;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
}


.gallery .slider {
    height: 100%;
    -webkit-perspective: 300px;
    perspective: 300px;
    position: relative;
}

.gallery .slider .slide, .gallery.small .slider .slide {
    display: none;
    width: 100%;
    height: 100%;
    outline: 1px solid transparent;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    position: absolute;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: /*left 0.2s, right 0.2s,*/ -webkit-filter 0.2s, -webkit-transform 0.2s;
    transition: /*left 0.2s, right 0.2s,*/ -webkit-filter 0.2s, -webkit-transform 0.2s;
    -o-transition: /*left 0.2s, right 0.2s,*/ filter 0.2s, transform 0.2s;
    transition: /*left 0.2s, right 0.2s,*/ filter 0.2s, transform 0.2s;
    transition: /*left 0.2s, right 0.2s,*/ filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
}


.gallery .slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.gallery .slider .active, .gallery.small .slider .active {
    display: block;
    z-index: 1;
    left: 50%;
    -webkit-filter: brightness(1);
    filter: brightness(1);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.gallery .slider-wrapper::after {
    content: '';
    height: 1px;
    width: 40%;
    background-color: #0095d1;
    display: block;
    position: absolute;
    bottom: 16px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.gallery .slider-wrapper .swiper-button-prev, .gallery .slider-wrapper .swiper-button-next {
    bottom: 0;
    top: auto;
    width: 25px;
    height: 32px;
}

section.gallery h1 {
    margin-bottom: 7px;
}

/*END GS*/


.tech .tech-item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 5px;
    margin-bottom: 66px;
}

.tech .tech-item {
    border-radius: 10px;
    padding: 5px;
    position: relative;
    text-align: center;
}

.tech-item-inner {
    padding: 32px 5px 5px 5px;
    border: 2px solid #0095D1;
    border-radius: 10px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tech-item .tech-img {
    width: 130px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.tech-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.tech-item a {
    text-decoration: underline;
    font-family: "Muller Light", sans-serif;
    font-size: 10px;
    color: #0093cf;
    margin-top: auto;
}

section.tech-gallery {
    margin-bottom: 70px;
}

section.descr {
    margin-bottom: 80px;
}

section.descr figure {
    border-radius: 50%;
    background-color: #0095D1;
    width: 88px;
    height: 88px;
    margin: 16px auto;
}

section.descr figure img {
    position: relative;
    max-width: 55px;
    max-height: 55px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.doc-list {
    margin: 30px 0;
    width: 100%;
}

.doc-item {
    width: 290px;
    margin: 30px auto;
}

.doc-list .button {
    margin: 15px auto;
}

.doc-item img {
    width: 100%;
}

.doc-item h4 {
    padding: 0 5px;
    text-align: center;
}

.video {
    width: 100%;
    height: 0;
    padding-top: 57%;
    position: relative;
    margin-bottom: 70px;
}

.video .controls {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg');
    background-size: cover;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video .play-btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url('../images/playbtn.png') no-repeat center;
    background-size: cover;
}

.video .controls::before {
    content: '';
    display: block;
    position: absolute;
    height: 76%;
    width: 120%;
    right: -5px;
    top: 32%;
    border-right: 1px solid #0095d1;
    border-bottom: 1px solid #0095d1;
}

.video .controls::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 5px;
    right: -5px;
    top: 31.4%;
    border-bottom: 1px solid #0095d1;
}

section.news-block {
    padding: 0;
}

.news-item {
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px 14px;
}

.news-item h3 {
    font-size: 16px;
    text-align: left;
    margin: 0 0 16px 0;
}

.news-item time {
    float: right;
    font-family: "Muller Regular", sans-serif;
    font-size: 12px;
    color: #cecece;
    margin-top: 4px;
}

.news-item .news-img {
    width: 28.4%;
    padding-top: 28.4%;
    position: relative;
    margin-right: 14px;
    margin-bottom: 25px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 0;
}

.news-item .news-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.news-item .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.news-item .about > span {
    width: 66%;
}

.news-item .about > span p:first-child {
    margin-top: 0;
}

.pagination {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pagination .prev_arrow, .pagination .next_arrow {
    display: block;
    background-image: url('../images/arrow.png');
    width: 15px;
    height: 20px;
    background-size: cover;
    position: relative;
    margin-left: 17px;
    margin-top: 4px;
}

.pagination .prev_arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 17px;
}

.pagination > * {
    color: #385069;
}

.pagination .page, .pagination .active {
    width: 27px;
    height: 27px;
}

.pagination a, .pagination .active span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
}

.pagination .active span {
    color: #fff;
    background-color: #0095d1;
}

.pagination .prev_button::before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
}

.pagination .prev_arrow::before, .pagination .next_arrow::after {
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    background-color: #0095d1;
    position: absolute;
    top: 47%;
    left: calc(100% + 4px);
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.active, .modal-message.active {
    visibility: visible;
    opacity: 1;
}

.modal-inner, .modal-message {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 425px;
    width: 100%;
    max-height: 305px;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 28px;
    border-radius: 10px;
    border: 1px solid #0095d1;
    -webkit-box-shadow: 0 0 0px 5px rgb(255, 255, 255);
    box-shadow: 0 0 0px 5px rgb(255, 255, 255);
}

.modal-message {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.callback-form {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.modal__close-btn div {
    width: 100%;
    height: 2px;
    top: 50%;
    position: absolute;
    background: #0095d1;
}

.modal__close-btn div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__close-btn div:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.inactive {
    visibility: hidden !important;
    opacity: 0 !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-message div:nth-child(1) {
    color: #0095d1;
    font-size: 24px;
    font-weight: bold;
}

.modal-message div:nth-child(2) {
    font-size: 14px;
}

.page img {
    max-width: 1030px;
    width: unset;
    margin: 30px auto;
}

form .modal-message {
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
}

.table-wrapp {
    overflow-x: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

