.breadcrumb{
    max-width: 1230px;
    width: 100%;
    padding: 24px 30px 0 30px;
    margin: 0 auto;
    display: flex;
}

.breadcrumb a{
    font-size: 12px;
    color: #d8d8d8;
}
.breadcrumb a:hover{
    color: #b7b7b7;
}

.breadcrumb li:after{
    content: '/';
    color: #d8d8d8;
    margin: 0 5px;
}

.breadcrumb li:last-child:after{
    content: '';
}

@media screen and (max-width: 768px){
    .breadcrumb {
        flex-direction: column;
    }
    .breadcrumb li:after{
        content: '';
    }
}