@import "//cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css";
@import 'variables.css';

@font-face {
    font-family: 'Circle';
    src: url("../fonts/Circe-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circle';
    src: url("../fonts/Circe-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circle';
    src: url("../fonts/Circe-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circle';
    src: url("../fonts/Circe-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circle';
    src: url("../fonts/Circe-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circle';
    src: url("../fonts/Circe-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

body, html {
    color: #15203D;
    padding: 0;
    margin: 0;
    font-family: 'Circle', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
    -webkit-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

img {
    display: block;
    image-rendering: -webkit-optimize-contrast;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color__botto_blue);
}

a:not(.btn):hover {
    color: var(--color__botto_blue);
}

h1, h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

h1 + p, h2 + p {
    font-size: 22px;
    text-align: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: normal;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #A09DC0;
    text-align: center;
}

b {
    font-weight: 400;
}

header {
    font-weight: normal;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 41;
}

header a {
    color: #15203D;
}

header, .block {
    padding: 0 12.5%;
}

header .btn {
    min-height: 30px;
}

header .tabs {
    height: 100%;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main {
    overflow: hidden;
}

.header-wrapper {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #EEF1FF;
}

.lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.lang .mdi {
    margin-right: 10px;
}

.dropdown {
    padding-right: 25px;
    background-image: url('../img/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-position: 100% center;
    position: relative;
    cursor: pointer;
}

.dropdown .content {
    display: none;
    padding: 24px;
    position: absolute;
    top: 100%;
    left: -15px;
    background: #FFFFFF;
    border: 1px solid var(--color__select_bg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    z-index: 200;
}

.dropdown:hover .content {
    display: block;
}

i.icon {
    font-size: 16px;
    color: var(--color__botto_blue);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.btn, button, input[type=button] {
    border-radius: var(--border-radius);
    background-color: var(--color__botto_blue);
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding: 0 40px;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    white-space: nowrap;
}

.btn.red, button.red {
    background-color: #fa006c;
}

.btn:hover, button:hover, input[type=button]:hover {
    opacity: 0.8;
}

.btn.secondary, button.secondary, input[type=button].secondary {
    border: 2px solid var(--color__botto_blue);
    background-color: #fff;
    color: var(--color__botto_blue);
}

.btn.secondary:hover, button.secondary:hover, input[type=button].secondary:hover {
    color: #fff;
    background-color: var(--color__botto_blue);
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tabs > * {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

header .tabs .active::before {
    width: 50%;
}

.tabs .active::before, .tabs-handler .swiper-slide-thumb-active > div > div::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color__botto_blue);
    left: 0;
    bottom: -1px;
}


*[tab] {
    opacity: 0;
    visibility: hidden;
    position: absolute !important;
    top: -9999px;
}

.tabs.wrapper {
    position: relative;
}

.tab-active[tab] {
    position: relative !important;
    opacity: 1;
    visibility: visible;
    top: 0;
}

hr {
    border-top: 1px solid var(--color__select2_bg);
    margin: 0;
}

header .tabs > *:first-child {
    margin-right: 2%;
    margin-left: 5%;
}

header .tabs > *:last-child {
    margin-right: 0;
}

header .tabs > * {
    margin-right: 3%;
    white-space: nowrap;
}

header .btn {
    margin-left: 30px;
}

input:not([type=range]), select, textarea, .custom-select {
    padding: 15px;
    line-height: 16px;
    font-size: 16px;
    display: block;
    border: 1px solid #D8DCF0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    z-index: 1;
    width: 100%;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.block, .video-block {
    position: relative;
}

.block *, .video-block * {
    position: relative;
}

.block.top * {
    z-index: 20;
}

.block.partners * {
    z-index: 19;
}

.block.about * {
    z-index: 18;
}

.video-block * {
    z-index: 17;
}

.block.a2 * {
    z-index: 16;
}

.block.how-to * {
    z-index: 15;
}

.block.how-to-2 * {
    z-index: 14;
}

.block.how-to-3 * {
    z-index: 13;
}

.block.integrations * {
    z-index: 12;
}

.block.cases * {
    z-index: 40;
}

.block.tariff * {
    z-index: 10;
}

.block.faq * {
    z-index: 9;
}

.block.contacts * {
    z-index: 8;
}

.play-btn {
    cursor: pointer;
}

.video-wrapper {
    opacity: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(0, 50%) scaleY(0.01);
    -ms-transform: translate(0, 50%) scaleY(0.01);
    transform: translate(0, 50%) scaleY(0.01);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 30;
}

.modal__close-btn, .close-btn, .close-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    margin: 5px;
    cursor: pointer;
}

.modal__close-btn div, .close-btn div, .close-menu div {
    width: 100%;
    height: 4px;
    top: 50%;
    position: absolute;
    background: var(--color__botto_blue);
}

.modal__close-btn div:nth-child(1), .close-btn div:nth-child(1), .close-menu div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__close-btn div:nth-child(2), .close-btn div:nth-child(2), .close-menu div:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-btn {
    z-index: 31;
    right: 30px;
    top: 30px;
}

.video-wrapper.active {
    opacity: 1;
    -webkit-transform: translate(0, 50%) scaleY(1);
    -ms-transform: translate(0, 50%) scaleY(1);
    transform: translate(0, 50%) scaleY(1);
}

.video-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
    position: relative;
}

.custom-input {
    position: relative;
    display: block;
}

.custom-input input {
    padding-left: 55px;
}

.custom-input.phone::before {
    background-image: url('../img/icons/tel.svg');
    z-index: 30;
}

.custom-input::before {
    position: absolute;
    content: '';
    display: block;
    left: 1px;
    top: 1px;
    width: 40px;
    height: calc(100% - 2px);
    background-color: var(--color__select2_bg);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-repeat: no-repeat;
    background-position: center center;
}

.tabs-handler .swiper-slide {
    text-align: center;
}

.tabs-handler .swiper-slide > div {
    height: 91px;
}

.tabs-handler .swiper-slide > div {
    position: relative;
    height: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.tabs-handler .swiper-slide > div > div {
    position: relative;
    cursor: pointer;
}

.tabs-handler .swiper-slide > div > div::after {
    bottom: -34px;
}

.accord-item {
    border-top: 1px solid #EEF1FF;
    border-bottom: 1px solid #EEF1FF;
}

.accord .accord-head {
    font-size: 24px;
    padding-right: 50px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    min-height: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.accord .accord-cont {
    font-size: 24px;
    font-weight: 300;
    max-height: 0;
    overflow: hidden;
}

.accord .accord-head::before, .accord .accord-head::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: calc(50% - 11px);
    background-color: #A09DC0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.accord .accord-head::before {
    width: 22px;
    height: 2px;
    top: calc(50% - 1px);
    right: 0;
}

.accord .accord-head::after {
    height: 22px;
    width: 2px;
    right: 10px;
}

.accord .accord-item.active .accord-head::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accord .accord-item.active .accord-cont {
    margin-bottom: 40px;
}

footer {
    background-color: var(--color__blue_bg);
    padding: 50px 12.5%;
}

.block.top {
    position: relative;
}

h1 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.phone-form {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 25px 120px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: transparent;
}

.phone-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.phone-form .custom-input {
    width: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    max-width: 400px;
}

.phone-form.active .custom-input {
    width: 100%;
    margin-right: 20px;
}

.phone-form.active {
    background-color: rgba(238, 241, 255, 0.55);
}

.block.top {
    position: relative;
    padding-top: 100px;
}

.block.top .animation-1 {
    position: absolute;
    right: 0;
    top: -35%;
    z-index: 0;
}

.block.top .con {

}

h1 {
    margin-top: 0;
}

.block.about {
    position: relative;
    z-index: 2;
}

.play-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color__botto_blue);
    font-size: 22px;
}

.play-btn img {
    margin-bottom: 20px;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.list.i3 > * {
    width: 32%;
    background: #FFFFFF;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid transparent;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: default;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 300px;
}

.list .item:hover, .list .item.hov {
    border: 2px solid #D8DCF0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 40px #E2E4F0;
    box-shadow: 0px 0px 40px #E2E4F0;
}

figure {
    margin: 0;
}

figure.hor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

figure.hor img {
    margin-right: 30px;
}

figure.hor > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

figure.hor .text {
    font-size: 30px;
}

.item .soon {
    color: var(--color__botto_blue);
    position: absolute !important;
    top: 20px;
    right: 20px;
    font-size: 18px;
}

.list .item .text + p {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    margin: 0;
}

.list .item:hover .text + p, .list .item.hov .text + p {
    max-height: 500px;
}

.block.a2 {
    position: relative;
}

.block.a2 .list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 320px;
    z-index: 0;
}

.block.a2 .list:hover {
    z-index: 1;
}

.block.a2 .animation-2 {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -18%;
}

.block {
    padding-top: 100px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex.w50 > div {
    width: 50%;
}

.flex.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

svg {
    overflow: visible;
    image-rendering: -webkit-optimize-contrast;
}

.animation-3, .animation-4, .animation-5 {
    position: relative;
}

.how-to .svg svg {
    width: 100%;
}


.how-to .svg {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.animation-3 .svg {
    right: 0;
    top: -200px;
}

.animation-4 .svg {
    right: 0;
    top: -130px;
}


ul {
    list-style: none;
    font-size: 22px;
    padding: 0;
}

ul li {
    position: relative;
    padding-left: 32px;
}

ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    background: url('../img/icons/bullet.svg') no-repeat center;
    background-size: contain;
}

.how-to ul {
    margin: 40px 0 50px;
}

.how-to-1 h3 {
    margin-top: 33%;
    margin-bottom: 20px;
}

.how-to-2 h3 {
    margin-top: 35%;
}

.how-to-3 h3 {
    margin-top: 65%;
    margin-bottom: 20px;
}

.how-to-1, .how-to-3, .how-to-1 .flex > div:last-child {
    padding-left: 6%;
}

.how-to-2 {
    padding-right: 4%;
}

.how-to-3 .btn {
    margin-bottom: 172px;
}

.how-to-3 .flex > div:last-child {
    padding-left: 12%;
}

.integrations h2 + p {
    margin-bottom: 50px;
}

.integrations .list.i3 > * {
    height: 150px;
}

.integrations .list .item img {
    height: 100%;
}

.item.dis > img {
    opacity: 0.2;
}

.tabs-handler {
    margin-top: 100px;
}

.tabs-slider {
    padding-top: 8%;
}

hr {
    z-index: 0 !important;
}

.flex > .aside {
    min-width: 410px;
    margin-left: 5%;
}

.tabs-slider p {
    margin: 50px 0 40px;
}

.client .info {
    font-size: 22px;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}

.client .name {
    color: var(--color__botto_blue);
    margin-bottom: 5px;
}

.client .avatar {
    margin-right: 20px;
}

.client .info > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.client ul {
    font-weight: 300;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    width: 20px;
    height: 44px;
}

.swiper-button-next {
    right: 45%;
    top: auto;
    bottom: 0;
}

.swiper-button-prev {
    left: 45%;
    top: auto;
    bottom: 0;
}

.swiper-button-next:after {
    width: 100%;
    height: 100%;
    content: url("../img/icons/next.svg");
}

.swiper-button-prev:after {
    width: 100%;
    height: 100%;
    content: url("../img/icons/prev.svg");
}

.block.tariff h2 + p {
    margin-bottom: 50px;
}

.price::after {
    content: '₽';
    font-weight: normal;
    font-size: 22px;
    position: absolute;
}

.price.free::after {
    content: '';
}

.tariff .item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.tariff .item > div:first-child {
    font-size: 30px;
    text-align: center;
    min-height: 90px;
}

.tariff .price {
    color: var(--color__botto_blue);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.tariff .item p {
    margin: 67px 0 30px;
    text-align: center;
}

.tariff .item .btn {
    max-width: 200px;
    width: 100%;
    margin: auto auto 0;
}

.btn.disabled:hover {
    background: #fff;
    color: #D8DCF0;
}

.btn.disabled {
    border-color: #D8DCF0;
    color: #D8DCF0;
}

.tariff .item.dis, .tariff .item.dis .price {
    color: #D8DCF0;
}


.contacts .phone {
    font-size: 33px;
    color: #15203D;
    margin-bottom: 0;
}

.contacts .phone + p {
    margin-top: 0;
    margin-bottom: 44px;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts .btn {
    margin-bottom: 70px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social > * {
    margin-right: 30px;
}

.social > *:last-child {
    margin-right: 0;
}

footer {
    color: white;
}

footer .logo {
    width: 105px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.footer-wrapper > div:first-child, .footer-wrapper > div:last-child,
.footer-wrapper > div:first-child > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-wrapper > div:last-child {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-wrapper > div:first-child > div:last-child {
    width: 100%;
}

.footer-wrapper > div:first-child > div:last-child > div {
    margin-left: auto;
}

footer .btn {
    font-size: 14px;
    min-height: 30px;
    margin-left: 10%;
}

footer ul {
    margin: 0 0 0 7%;
    font-size: 18px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

footer li:before {
    display: none;
}

footer ul a, footer .lang {
    color: white;
}

footer .dropdown {
    margin-right: 30px;
    margin-left: 17%;
}

footer .phone {
    color: white;
    white-space: nowrap;
    margin-left: auto;
}

footer hr {
    opacity: 0.1;
    margin-top: 50px;
    margin-bottom: 30px;
}

footer .social img {
    width: 28px;
    height: 28px;
}

footer .social > * {
    margin-right: 16px;
}

footer .copy {
    font-size: 16px;
}

footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: auto 0 0;
    -webkit-box-flex: 1;
    flex: auto 0 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .links a {
    font-size: 13px;
    white-space: nowrap;
    display: block;
    padding: 5px 10px;
}

footer .links a:first-child {
    margin-left: 0;
}

.bg .cards {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.animation-4 .cards, .animation-5 .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.animation-5 .cards {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.animation-3 .cards {
    bottom: 0;
    right: 0;
    padding-top: 110px;
}

.cards img {
    margin-left: auto;
    position: relative;
    right: -100%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.animation-5 .cards img {
    margin-left: 0;
    position: relative;
    left: -100%;
    max-width: 430px;
}

#contacts .svg, .cases .svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#contacts .svg svg {
    width: 100%;
}

.at .svg {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 70px;
    left: 0;
    -webkit-transform: translate(-28%, 0);
    -ms-transform: translate(-28%, 0);
    transform: translate(-28%, 0);
}

.at .svg svg {
    width: 100%;
}

.integrations .svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(21, 32, 61, 0.9);
}

.modal-inner, .modal-message {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    background: #fff;
    padding: 30px;
    border-radius: var(--border-radius);
    z-index: 999;
}

.modal.active, .modal-message.active {
    visibility: visible;
    opacity: 1;
    z-index: 200;
}

.modal__close-btn {
    position: absolute;
    right: 26px;
    top: 34px;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    z-index: 1;
}

.modal h3 {
    position: relative;
    padding-right: 50px;
}

.modal h3::before {
    content: '';
    display: block;
    height: 100%;
    width: 3px;
    left: -30px;
    position: absolute;
    background-color: var(--color__botto_blue);
}

.modal .inner-wrapper {
    margin-top: 50px;
}

.modal .modal-body > h3:first-child::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 60px);
    left: -30px;
    height: 2px;
    background-color: var(--color__select2_bg);
    bottom: -24px;
}

.modal__close-btn div {
    width: 100%;
    height: 2px;
    top: 50%;
    position: absolute;
    background: var(--color__botto_blue);
}

.modal-inner.inactive, .modal-message {
    visibility: hidden;
    opacity: 0;
}

.modal__close-btn div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__close-btn div:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cb-form button {
    margin: 30px auto 0;
}

.btn {
    z-index: 30 !important;
}

.menu-btn {
    display: none;
    width: 42px;
    height: 42px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-btn div {
    width: 100%;
    height: 4px;
    background-color: var(--color__botto_blue);
    margin-top: 6px;
}

.cb-mob {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
}

.block.partners img {
    margin: 0 auto;
}

.close-menu {
    display: none;
}

.advantages .table {
    margin-top: 100px;
}

.table > .row, .table > .row > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.advantages .item {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.table .item {
    margin: 0 2% 30px;
    width: 30%;
    padding: 27px 18px 21px 93px;
    position: relative;
}

.table .item .svg {
    position: absolute;
    left: 0;
    top: 0;
}

#advantages .item .s1 {
    left: -115px;
    top: -66px;
}

#advantages .item .s2 {
    left: -10px;
    top: 25px;
}

#advantages .item .s3 {
    left: -60px;
    top: -50px;
}

#advantages .item .s4 {
    left: -10px;
}

#advantages .item .s5 {
    left: -115px;
    top: -110px;
}

.tabs.tabs-handler a {
    color: #15203D;
    padding: 0 15px 30px 15px;
}

.tabs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tabs-wrapper {
    padding-top: 25px;
}

a.alogo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.text-botto {
    color: var(--color__botto_blue);
}

#cases .swiper-slide > .flex > div:first-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#cases .swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
}

.news-img {
    width: 167px;
    height: 167px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 50px;
}

.news-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.margin-right {
    margin-right: 30px;
}

.margin-left {
    margin-left: 30px;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

#news .swiper-button-next {
    right: 10px;
}

#news .swiper-button-prev {
    left: auto;
    right: 100px;
}

#cases .swiper-button-next.swiper-button-disabled, #cases .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.white-space {
    white-space: nowrap;
}

#advantages defs path {
    -webkit-transition: fill 0.3s;
    -o-transition: fill 0.3s;
    transition: fill 0.3s;
}

footer .phone + .flex > * {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.mobadvantage {
    display: none;
}

.case-slider .swiper-pagination-bullet:only-child {
    display: none;
}