@media screen and (max-width: 1740px) {
    header, .block, footer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 1630px) {
    header, .block, footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 1450px) {
    header .tel {
        display: none;
    }

    header nav div:last-child .dropdown, footer .dropdown {
        display: none;
    }

    figure.hor img {
        margin-right: 20px;
    }

    figure.hor .text {
        font-size: 22px;
    }

    .list.i3 > * {
        min-height: 200px;
    }

    .block.a2 .list {
        height: 220px;
    }

    .how-to-1 h3, .how-to-2 h3 {
        margin-top: 80px;
    }

    .how-to-3 h3 {
        margin-top: 15px;
    }

    .animation-5 .svg,
    .animation-4 .svg {
        top: -300px;
    }

    .how-to-3 .btn {
        margin-bottom: 0;
    }

    .block.how-to-1 .flex {
        z-index: 33;
    }

    .block.how-to-2 .flex {
        z-index: 32;
    }

    .block.how-to-3 .flex {
        z-index: 31;
    }

    .block.integrations {
        z-index: 35;
    }

    .footer-wrapper > div:first-child > div:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    footer .btn {
        margin-top: 30px;
    }

    footer .social {
        display: none;
    }

    .block.a2 .animation-2 {
        bottom: -50%;
    }
}

@media screen and (max-width: 1130px) {
    header, .block, footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    header .tabs > *:first-child {
        margin-left: 1%;
    }

    header .tabs > *:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 30px;
    }

    header .btn {
        margin-left: 0;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1000px) {
    footer .phone + .flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    footer .phone + .flex > * {
        max-width: 80px;
    }

    .how-to-3 .flex > div:last-child {
        padding-left: 30px;
    }

    .how-to-1 .flex > div:last-child {
        padding-left: 0;
    }

    .how-to-3 {
        padding-left: 0;
    }

    .table > .row, .table > .row > div {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .table .item {
        margin: 0;
        width: 100%;
        padding: 27px 18px 21px 93px;
    }

    #contacts .svg, .cases .svg {
        display: none;
    }

    .news-img {
        margin: 0 auto;
    }

    .news-content .btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .tabs-handler {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 0;
    }

    .tabs-handler > a {
        margin-bottom: 20px;
    }

    .tabs-handler + hr {
        display: none;
    }

    .tabs-wrapper {
        padding-top: 0;
    }

    .flex > .aside {
        margin-top: 30px;
    }

    .list .item:hover {
        border: 2px solid transparent;
        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
    }

    .list .item.hov {
        border: 2px solid #D8DCF0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 40px #E2E4F0;
        box-shadow: 0px 0px 40px #E2E4F0;
    }

    .list .item:hover .text + p {
        max-height: 0;
    }

    .list .item.hov .text + p {
        max-height: 500px;
    }

    .block {
        padding-top: 50px;
    }

    .menu-btn {
        display: block;
    }

    header nav.tabs {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 50;
        padding-top: 100px;
        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
        font-size: 24px;
        height: auto;
    }

    header .close-menu {
        display: block;
        left: 21px;
        top: 20px;
        width: 42px;
        height: 42px !important;
    }

    header .tabs > *:not(.tel) {
        height: auto;
        margin: 0 0 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    header .tabs .active::before {
        display: none;
    }

    nav .dropdown {
        padding-right: 0;
        background: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    header .logo, header .cb-mob {
        z-index: 201;
    }

    .header-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .cb-mob {
        display: block;
    }

    .list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .list.i3 > * {
        width: 100%;
        min-height: auto;
    }

    .block.a2 .list {
        height: auto;
        justify-content: flex-start;
    }

    figure.hor {
        align-items: flex-start;
    }

    .flex.w50 > div {
        width: 100%;
    }

    .flex.w50 > .bg {
        display: none;
    }

    .flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .phone-form {
        padding: 15px;
    }

    .header-wrapper {
        height: 100px;
    }

    footer .links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -ms-flex: auto 0 0;
        flex: auto 0 0;
        margin-bottom: 20px;
    }

    footer .links a {
        margin-left: 0;
    }

    .footer-wrapper > div:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    footer ul {
        display: none;
    }

    header .dropdown .content {
        display: block;
        position: relative;
        padding: 5px 0 0;
        left: 0;
        text-align: center;
        border: none;
        box-shadow: none;
        font-size: 16px;
        width: 100%;
    }

    header .dropdown .content p {
        margin: 0;
    }

    .tabs.tabs-handler a {
        padding: 0;
        margin-right: 19px;
    }
}

@media screen and (max-width: 640px) {
    #news .swiper-button-prev {
        right: auto;
        left: 10px;
    }

    footer .links a {
        white-space: normal;
    }

    .table .item {
        padding: 27px 0 21px;
        position: relative;
    }

    .advantages .table {
        margin-top: 0;
    }

    .accord .accord-head, .accord .accord-cont {
        font-size: 18px;
    }

    .phone-form form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .phone-form button {
        width: 100%;
    }

    .phone-form .custom-input {
        max-width: 640px;
    }

    .phone-form.active .custom-input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .flex > .aside {
        margin-top: 30px;
        margin-left: 0;
        min-width: auto;
    }

    .swiper-button-next {
        right: 3px;
    }

    .swiper-button-prev {
        left: 0;
    }

    .client .info {
        font-size: 18px;
    }

    ul {
        font-size: 18px;
    }

    .modal-inner, .modal-message {
        width: 100%;
    }

    h3 {
        font-size: 27px;
    }

    h1, h2 {
        font-size: 40px;
    }

    .social > * {
        margin-right: 15px;
    }

    #advantages .item .svg {
        z-index: -1;
    }

    #advantages .item .s2, #advantages .item .s4, #advantages .item .s6, #advantages .mobadvantage {
        left: auto;
        right: 0;
        display: block;
        position: absolute;
        top: 0;
    }

    #advantages #adv1, #advantages #adv3, #advantages #adv5 {
        display: none;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: auto;
        top: -8px;
        left: 0;
        width: 100%;
        position: absolute;
    }

    #cases h3{
        margin-top: 25px;
    }
}

@media screen and (max-width: 414px) {
    h1, h2 {
        font-size: 28px;
    }
}