@import './main.css';
@import './our_team.css';
.about_wrapper {
    background: url('../assets/images/aboutBG.png');
    background-size: cover;
}

.about_header {
    height: 9vw;
    padding-top: 18px;
}

.breadcrumb {
    margin: 0 auto 56px auto;
    width: 242px;
}

.block_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 120px;
}

.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 20px;
}

.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-right: 20px;
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1560px;
    width: 100%;
}

.loyalty_content {
    font-family: 'Cond-Reg', sans-serif;
    font-size: 18px;
    padding: 46px 20px 0 14px;
}

.loyalty_content .title {
    font-size: 30px;
    margin-bottom: 27px;
}

.loyalty_content p {
    margin-bottom: 41px;
}

.feachures {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.mask {
    background: rgba(41, 64, 94, 0.733);
    position: absolute;
    z-index: 1;
    padding-top: 60.8%;
    width: 100%;
}

.images_block {
    position: relative;
    max-width: 950px;
    width: 100%;
    height: 100%;
}

.loyalty_img_sm {
    position: absolute;
    z-index: 1;
    left: -20px;
    width: 52%;
    padding-top: 31%;
}

.loyalty_img_lg {
    position: relative;
    z-index: 0;
    width: 100%;
}

.inst:before {
    content: url('../assets/images/img1.png');
    position: absolute;
    margin-right: 14px;
    margin-left: -55px;
    margin-top: -14px;
}

.inst {
    margin-bottom: 40px;
    padding-left: 60px;
}

.trial:before {
    content: url('../assets/images/img2.png');
    position: absolute;
    margin-right: 9px;
    margin-left: -60px;
    margin-top: -14px;
}

.trial {
    margin-bottom: 35px;
    padding-left: 60px;
}

.feachures {
    padding-left: 47px;
    margin-top: 4px;
}

.feachures li {
    margin-bottom: 5px;
}

.feachures>li:nth-child(1):before {
    content: url('../assets/images/limg1.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(2):before {
    content: url('../assets/images/limg2.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(3):before {
    content: url('../assets/images/limg3.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(4):before {
    content: url('../assets/images/limg4.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(5):before {
    content: url('../assets/images/limg5.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(6):before {
    content: url('../assets/images/limg6.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(7):before {
    content: url('../assets/images/limg7.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(8):before {
    content: url('../assets/images/limg8.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(9):before {
    content: url('../assets/images/limg9.png');
    position: absolute;
    margin-left: -40px;
}

.feachures>li:nth-child(10):before {
    content: url('../assets/images/limg10.png');
    position: absolute;
    margin-left: -40px;
}

.system_images {
    max-width: 830px;
    width: 100%;
}

.system_img_sm {
    position: absolute;
    z-index: 1;
    right: -156px;
    width: 60%;
    padding-top: 19%;
    top: 0;
}

.system_img_lg {
    position: relative;
    z-index: 0;
    width: 100%;
}

.system_images .mask {
    max-width: 830px;
    padding-top: 58.5%;
}

.system_content {
    padding-left: 250px;
}

.system_content .title {
    font-family: 'Cond-Reg', sans-serif;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 68px;
}

.system_content li {
    font-family: 'Cond-Reg', sans-serif;
    font-size: 18px;
    padding-left: 60px;
}

.system {
    max-width: 1700px;
}

.food:before {
    content: url('../assets/images/simg1.png');
    position: absolute;
    margin: -15px 14px 0 -60px;
}

.food, .lessons, .schedule {
    margin-bottom: 100px;
}

.lessons:before {
    content: url('../assets/images/simg2.png');
    position: absolute;
    margin-left: -60px;
    margin-right: 14px;
}

.schedule:before {
    content: url('../assets/images/simg3.png');
    position: absolute;
    margin-left: -60px;
    margin-right: 100px;
}

.add_serv_content {
    font-family: 'Cond-Reg', sans-serif;
    color: #fff;
    padding-right: 20px;
    padding-left: 15px;
}

.add_serv_content .title {
    font-size: 40px;
    margin-top: -22px;
    margin-bottom: 60px;
    padding-left: 13px;
    letter-spacing: 0.4px;
}

.add_serv_content li {
    font-family: 'Cond-Reg', sans-serif;
    font-size: 18px;
    padding-left: 102px;
    padding-top: 9px;
    line-height: 26px;
    margin-bottom: 67px;
}

.add_serv_content>li:nth-child(2):before {
    content: url('../assets/images/aimg1.png');
    position: absolute;
    margin-left: -100px;
    margin-right: 14px;
}

.add_serv_content>li:nth-child(3):before {
    content: url('../assets/images/aimg2.png');
    position: absolute;
    margin-left: -100px;
    margin-right: 14px;
}

.add_serv_content>li:nth-child(4):before {
    content: url('../assets/images/aimg3.png');
    position: absolute;
    margin-left: -100px;
    margin-right: 14px;
}

.add_serv_content>li:nth-child(5):before {
    content: url('../assets/images/aimg4.png');
    position: absolute;
    margin-left: -100px;
    margin-right: 14px;
}

.add_serv_content>li:nth-child(6):before {
    content: url('../assets/images/aimg5.png');
    position: absolute;
    margin-left: -100px;
    margin-right: 14px;
}

.add_serv_content>li:nth-child(7):before {
    content: url('../assets/images/aimg6.png');
    position: absolute;
    margin-left: -100px;
    margin-right: 14px;
}

.add_serv_content>li:nth-child(8):before {
    content: url('../assets/images/aimg7.png');
    position: absolute;
    margin-left: -100px;
    margin-right: 14px;
}

.add_img_sm {
    position: absolute;
    z-index: 1;
    left: -32px;
    width: 53%;
    padding-top: 50%;
}

.add_img_lg {
    position: relative;
    z-index: 0;
    width: 100%;
}

.add_serv_images .mask {
    padding-top: 87.3%;
}

.gallery {
    background: none;
    top: 0;
    margin-top: 130px;
}

.contacts {
    margin-top: 0;
}

.gallery p {
    font-family: 'Cond-Reg', sans-serif;
}

.gallery .gallery_title {
    font-family: 'Cond-Reg', sans-serif;
}

@media screen and (max-width: 1023px) {
    .about_header {
        height: 8vw;
        padding-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .system_content {
        padding-left: 20px;
    }
    .trial, .inst {
        padding-left: 60px;
    }
    .block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .system {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .system_img_sm {
        right: 0;
        width: 60%;
        padding-top: 30%;
    }
    .add_serv_images {
        top: -100px;
    }
}