@import "@netpeak/styles/variables";

.header {
  gap: 20px;
}

.main {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.quizTop {
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  margin: auto 0 21vh;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: $gap-md;
  margin-top: 15px;

  .item {
    width: calc(50% - 7.5px);
    border-radius: 15px;
    border: 1px solid $color-border;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;

    input:checked + div {
      background: #5FCB39;
    }

    .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: $gap-sm;
      padding: 12px 15px;

      span {
        max-width: 100px;;
      }
    }

  }
}