@import '../../styles/variables.module';

button, .btn {
  border: none;
  background-color: $primary-color;
  color: #fff;
  padding: 7px $sm;
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.1s;

  &:hover {
    opacity: 0.9;
  }

  a {
    color: #fff;
  }

  &[disabled] {
    opacity: 0.9;
    cursor: default;
  }

  &.secondary {
    background: $secondary-dark;
  }

  &.square {
    border-radius: $xs;
  }

}